{
  "extends": [
    "stylelint-config-sass-guidelines",
    "stylelint-config-prettier"
  ],
  "rules": {
    "max-nesting-depth": 4,
    "color-function-notation": "modern",
    "color-named": [
      "never",
      {
        "ignore": [
          "inside-function"
        ]
      }
    ],
    "function-parentheses-space-inside": "never-single-line",
    "selector-no-qualifying-type": [
      true,
      {
        "ignore": [
          "attribute"
        ]
      }
    ],
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "scss/dollar-variable-pattern": "^[-_]?([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    "scss/at-function-pattern": "^[-_]?([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    "scss/at-mixin-pattern": "^[-_]?([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    "selector-no-vendor-prefix": [
      true,
      {
        "ignoreSelectors": [
          "/-moz-.*/",
          "/-ms-.*/",
          "/-webkit-.*/"
        ]
      }
    ]
  }
}
