// --------------------------------
//   Core API functions and mixins
// --------------------------------

@use 'sass:map';
@use 'sass:list';
@use 'sass:string';
@use 'sass:meta';
@use 'helpers' as *;
@use '../config' as *;

// Get a value from the theme
@function theme($keys...) {
  $property: list.nth($keys, 1);
  $fallback: map.get($config, fallbacks, $property);
  @return map-get-key($theme, $fallback, $keys...);
}

@function is-theme-color($keys...) {
  $colors: map.get($theme, colors);
  $value: map.get($colors, $keys...);

  @return map.has-key($colors, $keys...) and (meta.type-of($value) == color);
}

// Get a config value
@function config($keys...) {
  @if map.has-key($config, $keys...) {
    @return map.get($config, $keys...);
  } @else {
    @error "Keys #{list.slash($keys...)} doesn't exist in the config map!";
  }
}
