@use 'sass:map';

$config: () !default;
$default-config: (
  prefix: 'koi',
  utilities: (
    enabled: true,
    ignore-keys: (),
  ),
  fallbacks: (
    colors: 600,
    font-size: md,
    font-weight: normal,
    leading: normal,
    tracking: normal,
    radius: md,
    shadow: md,
    duration: normal,
  ),
);

$config: map.deep-merge($default-config, $config);
