// --------------------------------
//   Config default values
// --------------------------------

$config: (
  prefix: '',
  use-reset-styles: true,
  use-css-variables: true,
  use-default-styles: true,
  use-important-utilities: false,
  default-color-scheme: light,
  base-font-size: 16,
  spacer: 1rem,
  utility-glue: ':',
  responsive: (
    padding: (
      value: 5%,
      min: 0.75rem,
      max: 1.5rem,
    ),
  ),
  utilities: (
    animation: true,
    background: true,
    border: true,
    effects: true,
    flex: true,
    grid: true,
    layout: true,
    size: true,
    spacing: true,
    transition: true,
    typography: true,
    visibility: true,
  ),
  fallbacks: (
    accent: primary,
    border-width: 1,
    colors: 6,
    duration: normal,
    font-size: md,
    font-weight: normal,
    layer: base,
    leading: normal,
    radius: md,
    shadow: md,
    timing: ease,
    tracking: normal,
  ),
);
