// --------------------------------
//   Config default values
// --------------------------------

$config: (
  prefix: '',
  base-font-size: 16,
  use-theming: true,
  use-reset-styles: true,
  utility-glue: ':',
  fallbacks: (
    colors: 6,
    duration: normal,
    font-size: md,
    font-weight: normal,
    layer: base,
    leading: normal,
    radius: md,
    shadow: md,
    timing: ease,
    tracking: normal,
  ),
);
