// --------------------------------
//   Config default values
// --------------------------------

$config: (
  prefix: '',
  use-reset-styles: true,
  use-default-styles: true,
  default-color-scheme: light,
  base-font-size: 16,
  spacer: 1rem,
  utility-glue: ':',
  responsive: (
    padding: (
      value: 5%,
      min: 0.75rem,
      max: 1.5rem,
    ),
  ),
  fallbacks: (
    accent: primary,
    colors: 6,
    duration: normal,
    font-size: md,
    font-weight: normal,
    layer: base,
    leading: normal,
    radius: md,
    shadow: sm,
    timing: ease,
    tracking: normal,
  ),
);
