@use 'sass:map';
@forward 'theme';
@forward 'tokens';

$config: () !default;
$default-config: (
  prefix: 'koi',
  base-font-size: 16,
  utility-glue: ':',
  fallbacks: (
    colors: 6,
    duration: normal,
    font-size: md,
    font-weight: normal,
    layer: base,
    leading: normal,
    radius: md,
    shadow: md,
    tracking: normal,
  ),
);

$config: map.deep-merge($default-config, $config);
