// --------------------------------
//   Internal config values
// --------------------------------

// CSS Custom properties prefixes

$animation-prefix: animation;
$color-prefix: color;
$delay-prefix: delay;
$font-family-prefix: font;
$font-size-prefix: font-size;
$fluid-font-size-prefix: fluid-font-size;
$font-weight-prefix: font;
$layer-prefix: z;
$leading-prefix: leading;
$tracking-prefix: tracking;
$gradient-prefix: gradient;
$duration-prefix: duration;
$radius-prefix: radius;
$shadow-prefix: shadow;
$screens-prefix: screen;
$spacing-prefix: size;
