// --------------------------------
//   Layout Configuration (vars)
// --------------------------------

$fluid-padding-min: 0.75rem !default;
$fluid-padding-max: 1.5rem !default;
$fluid-padding-value: 5% !default;
