// --------------------------------
//   Settings
// --------------------------------

@use 'sass:list';
@use 'sass:map';

@use '../tokens' as *;

// --------------------------------
//   Vars
// --------------------------------

$_font-sans: map.get($font-family, sans);

// --------------------------------
//   Default Settings
// --------------------------------

$_default-settings: (
  prefix: '',
  use-reset-styles: true,
  use-default-styles: true,
  use-theming: true,
  use-utilities: false,
  use-css-variables: true,
  default-color-scheme: light,
  typography: (
    use-hyphens: true,
    base-font-size: 16,
    base-font-family: list.join(Lato, $_font-sans),
    headings-font-family: list.join(Montserrat, $_font-sans),
    headings-font-weight: 700,
    headings-font-size: 5xl 4xl 3xl 2xl xl lg,
    headings-spacing-ratio: 1.125,
    lead-font-size: lg,
    fluid-font-size: '2vw + 1rem',
  ),
  layout: (
    fluid-padding: (
      min: 0.75rem,
      max: 1.5rem,
      fluid-value: 5%,
    ),
  ),
  utilities: (
    glue: ':',
    use-important: false,
  ),
  fallbacks: (
    accent: primary,
    border-width: 1,
    colors: 6,
    duration: normal,
    font-size: md,
    font-weight: normal,
    layer: base,
    leading: normal,
    radius: md,
    shadow: md,
    timing: ease,
    tracking: normal,
  ),
);

$settings: () !default;
$settings: map.deep-merge($_default-settings, $settings);
