/// Koi default theme
/// =================

@use 'sass:map';
@use 'tokens' as *;

$theme: () !default;

$default-theme: map.deep-merge(
  $tokens,
  (
    colors: (
      primary: #0cf,
      secondary: #f5f,
    ),
  )
);

$theme: map.deep-merge($default-theme, $theme);
