/// Koi default theme
/// =================

@use 'sass:map';
@use 'tokens' as *;

$theme: () !default;
$default-theme: (
  colors: (
    primary: #0cf,
    secondary: #f5f,
  ),
);

$default-theme: map.deep-merge($tokens, $default-theme);
$theme: map.deep-merge($default-theme, $theme);
