// ----------------------------------
//   Typography Configuration (vars)
// ----------------------------------

@use 'sass:list';
@use 'sass:map';

@use '../tokens';

// --------------------------------
//   vars
// --------------------------------

$_font-sans: map.get(tokens.$font-family, sans);

// --------------------------------
//   Config
// --------------------------------

$use-hyphens: true;

$base-font-size: 16px;
$base-font-family: list.join(Lato, $_font-sans);

$headings-color: text-1;
$headings-font-family: list.join(Montserrat, $_font-sans);
$headings-font-weight: medium;

$inline-text-padding: 0.1875em;
$inline-text-border-radius: xs;

// Fluid
$fluid-type-scale: 1.2;
$fluid-base-line-height-factor: 2.5ex;

// Prose
$prose-base-line-height-factor: 2.5ex;

$prose-headings-margin-top: 1.125em;
$prose-headings-margin-bottom: 0.65em;
$prose-headings-line-height-factor: 2ex;

$prose-body-min-font-size: md;
$prose-body-max-font-size: lg;

$prose-lead-min-font-size: lg;
$prose-lead-max-font-size: xl;
