@use 'sass:map';
@forward 'config';
@use 'koi';

body {
  color: koi.color(gray, 300);
  background-color: koi.color(gray, 900);
  padding: koi.theme(spacing, 48);
}

a {
  color: koi.color(primary);
}

.wrapper {
  margin-top: koi.rem(24);
  padding: koi.theme(spacing, 32);
  background-color: koi.color(gray, 800);
  border: 2px solid koi.color(secondary);
  border-radius: 8px;

  &:hover {
    border-color: koi.color(primary);
    transition: all linear 400ms;
  }

  button {
    // @include koi.visually-hidden();
    margin-top: 1rem;
  }
}

.lists {
  margin-top: koi.rem(12);
}
