@use 'sass:map';
@forward 'config';
@use 'koi';

body {
  color: koi.color(gray, 100);
  background-color: koi.color(gray, 900);
  padding: koi.spacing(32);
}

a {
  color: koi.color(primary);
}

.wrapper {
  margin-top: koi.rem(24);
  padding: koi.theme(spacing, 32);
  border: 2px solid koi.color(secondary);
  border-radius: 8px;

  &:hover {
    border-color: koi.color(primary);
    transition: all linear 400ms;
  }

  button {
    margin-top: 1rem;
  }
}

.lists {
  margin-top: koi.rem(12);
}

.box {
  width: 64px;
  height: 64px;
  margin: 24px;
  background-color: koi.color(primary);
  color: koi.color(gray, 900);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: koi.shadow();

  @include koi.mq-from(md) {
    background-color: koi.color(secondary);
  }
}
