// --------------------------------
//   Animation API
// --------------------------------

@use '../config';
@use 'theme' as *;

// --------------------------------
//   Mixins
// --------------------------------

@mixin animation(
  $name,
  $duration: theme(duration, config.default(duration)),
  $timing-function: theme(timing, config.default(timing)),
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: none,
  $play-state: null
) {
  animation-delay: $delay;
  animation-direction: $direction;
  animation-duration: $duration;
  animation-fill-mode: $fill-mode;
  animation-iteration-count: $iteration-count;
  animation-name: $name;
  animation-timing-function: $timing-function;
  @if $play-state {
    animation-play-state: $play-state;
  }
}
