// --------------------------------
//   Animation API
// --------------------------------

@use 'setting' as *;
@use 'theme' as *;

// --------------------------------
//   Values
// --------------------------------

$_default-duration: theme(duration, setting(fallbacks, duration));
$_default-timing-function: theme(timing, setting(fallbacks, timing));

// --------------------------------
//   Mixins
// --------------------------------

@mixin animation(
  $name,
  $duration: $_default-duration,
  $timing-function: $_default-timing-function,
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: none,
  $play-state: null
) {
  animation-delay: $delay;
  animation-direction: $direction;
  animation-duration: $duration;
  animation-fill-mode: $fill-mode;
  animation-iteration-count: $iteration-count;
  animation-name: $name;
  animation-timing-function: $timing-function;
  @if $play-state {
    animation-play-state: $play-state;
  }
}
