// --------------------------------
//   Border API
// --------------------------------

@use 'setting' as *;
@use 'theme' as *;
@use 'color' as *;

$_default-radius: setting(defaults, radius);

// --------------------------------
//   Functions
// --------------------------------

@function radius($radius: $_default-radius) {
  @return theme-or-fallback(radius, $radius);
}

// --------------------------------
//   Mixins
// --------------------------------

@mixin rounded($radius: $_default-radius) {
  border-radius: radius($radius);
}

@mixin rounded-top($radius: $_default-radius) {
  border-top-left-radius: radius($radius);
  border-top-right-radius: radius($radius);
}

@mixin rounded-bottom($radius: $_default-radius) {
  border-bottom-left-radius: radius($radius);
  border-bottom-right-radius: radius($radius);
}

@mixin rounded-left($radius: $_default-radius) {
  border-bottom-left-radius: radius($radius);
  border-top-left-radius: radius($radius);
}

@mixin rounded-right($radius: $_default-radius) {
  border-bottom-right-radius: radius($radius);
  border-top-right-radius: radius($radius);
}

@mixin border($color: fill(border), $width: 1px, $style: solid, $radius: null) {
  border-color: $color;
  border-style: $style;
  border-width: $width;

  @if $radius {
    border-radius: $radius;
  }
}
