@use 'sass:list';
@use 'sass:meta';

@use '../internal' as *;
@use '../helpers' as *;
@use 'setting' as *;
@use 'theme' as *;

// --------------------------------
//   vars
// --------------------------------

$_default-shade: setting(fallbacks, colors);
$_default-accent: setting(default-accent);

// --------------------------------
//   Functions
// --------------------------------

// Try to return a theme color if not fallback to a color value if valid
@function fill(
  $color,
  $shade: $_default-shade,
  $alpha: 1,
  $saturation: null,
  $lightness: null,
  $complement: false,
  $invert: false
) {
  // Check if name is in format color-shade
  @if meta.type-of($color) == 'string' {
    $name-parts: _maybe-parse-string-color($color);

    @if $name_parts {
      $color: list.nth($name-parts, 1);
      $shade: list.nth($name-parts, 2);
    }
  }

  @if is-theme-color($color, $shade) or is-scheme-color($color, $shade) {
    @return hsl-color-var($color, $shade, $alpha, $saturation, $lightness, $complement, $invert);
  } @else if is-theme-color($color) or is-scheme-color($color) {
    @return hsl-color-var(
      $color,
      $alpha: $alpha,
      $saturation: $saturation,
      $lightness: $lightness,
      $complement: $complement,
      $invert: $invert
    );
  } @else if meta.type-of($color) == 'color' {
    @return $color;
  } @else {
    @error "Color #{$color} / #{$shade} not found in theme.";
  }
}

// Return an RGB theme color value (compile time)
@function color($name, $shade: $_default-shade, $alpha: 1) {
  @if is-theme-color($name, $shade) {
    @return to-rgb(theme(colors, $name, $shade), $alpha);
  } @else if is-theme-color($name) {
    @return to-rgb(theme(colors, $name), $alpha);
  } @else {
    @error "Color #{$name} or #{$name}-#{$shade} not found in theme.";
  }
}

@function accent($shade: $_default-shade) {
  $fallback-accent: theme(colors, $_default-accent, $shade);
  @return css-var(accent-#{$shade}, $fallback-accent);
}

// Parse a theme color in string form (i.e., text-1)
// returning its name and shade or null
@function _maybe-parse-string-color($name) {
  @if meta.type-of($name) != 'string' {
    @return null;
  }

  $name-parts: str-split($name, '-');

  @if meta.type-of($name-parts) == 'list' and list.length($name-parts) == 2 {
    $_name: list.nth($name-parts, 1);
    $_shade: to-number(list.nth($name-parts, 2));

    @if is-theme-color($_name, $_shade) or is-scheme-color($_name, $_shade) {
      @return $_name $_shade;
    }
  }

  @return null;
}
