// ----------------------------------------
//   Duration (Animation & Transition) API
// ----------------------------------------

@use 'setting' as *;
@use 'theme' as *;

$_default-duration: setting(defaults, duration);

// --------------------------------
//   Functions
// --------------------------------

@function duration($duration: $_default-duration) {
  @return theme-or-fallback(duration, $duration);
}

// --------------------------------
//   Mixins
// --------------------------------

@mixin animation-duration($duration: $_default-duration) {
  animation-duration: duration($duration);
}

@mixin transition-duration($duration: $_default-duration) {
  transition-duration: duration($duration);
}
