// --------------------------------
//   Layer / Z-Index API
// --------------------------------

@use '../config';
@use 'theme' as *;

$_default-layer: config.default(layer);

// --------------------------------
//   Functions
// --------------------------------

@function layer($layer: $_default-layer) {
  @return theme(layer, $layer);
}

// Alias
@function z-index($layer: $_default-layer) {
  @return layer($layer);
}

// --------------------------------
//   Mixins
// --------------------------------

@mixin layer($layer: $_default-layer) {
  z-index: layer($layer);
}

// Alias
@mixin z-index($layer: $_default-layer) {
  z-index: layer($layer);
}
