// --------------------------------
//   Position API
// --------------------------------

$default-value: 50%;

// --------------------------------
//   Mixins
// --------------------------------

@mixin position($parent, $variant) {
  @at-root #{$parent} {
    &--#{$variant} {
      @content;
    }
  }
}

// Add positioning support variants based on transforms (top, middle, bottom and start, center, end).
@mixin position-variants($selector, $value: $default-value, $is-circle: false) {
  $shift: if($is-circle, $value, 0);

  bottom: auto;
  left: auto;
  right: $shift;
  top: $shift;

  transform: translate(var(--koi-translate-x, $value), var(--koi-translate-y, -#{$value})) rotate(var(--koi-rotate, 0))
    skew(var(--koi-skew-x, 0)) skewY(var(--koi-skew-y, 0)) scaleX(var(--koi-scale-x, 1)) scaleY(var(--koi-scale-y, 1));

  @include position($selector, top) {
    --koi-translate-y: -#{$value};

    bottom: auto;
    top: $shift;
  }

  @include position($selector, middle) {
    --koi-translate-y: -#{$value};
    bottom: $value;
    top: $value;
  }

  @include position($selector, bottom) {
    --koi-translate-y: $value;

    bottom: $shift;
    top: auto;
  }

  @include position($selector, start) {
    --koi-translate-x: -#{$value};

    left: $shift;
    right: auto;
  }

  @include position($selector, center) {
    --koi-translate-x: -#{$value};

    left: $value;
    right: $value;
  }

  @include position($selector, end) {
    --koi-translate-x: $value;

    left: auto;
    right: $shift;
  }
}
