// --------------------------------
//   Shadows API
// --------------------------------

@use 'sass:map';

@use 'setting' as *;
@use 'theme' as *;

$_default-shadow: setting(defaults, shadow);

// --------------------------------
//   Functions
// --------------------------------

/// Return a shadow value from the theme
///
/// @param {string} $shadow
///
/// @return {any} `$shadow-value`.
///
@function shadow($shadow: $_default-shadow) {
  @return theme(shadow, $shadow);
}

// --------------------------------
//   Mixins
// --------------------------------

@mixin shadow($shadow: $_default-shadow) {
  --koi-shadow: #{shadow($shadow)};
  box-shadow: var(--koi-ring-offset-shadow, 0 0 #0000), var(--koi-ring-shadow, 0 0 #0000), var(--koi-shadow);
}

// Apply an Outline shadow
@mixin outline-shadow($color: rgba(0, 0, 0, 0.5), $width: 2px) {
  box-shadow: 0 0 0 $width $color;
}

// Apply an Inner shadow
@mixin inner-shadow($color: rgba(0, 0, 0, 0.5), $width: 2px) {
  box-shadow: inset 0 0 0 $width $color;
}
