// ---------------------------------
//   Size API (width, height, etc.)
// ---------------------------------

@use 'theme' as *;

// --------------------------------
//   Functions
// --------------------------------

@function size($size) {
  @return theme(sizes, $size);
}

// --------------------------------
//   Mixins
// --------------------------------

@mixin width($size) {
  width: size($size);
}

@mixin max-width($size) {
  max-width: size($size);
}

@mixin height($size) {
  height: size($size);
}

@mixin max-height($size) {
  max-height: size($size);
}
