// ------------------------------------------------
//   Timing Functions (Animation & Transition) API
// ------------------------------------------------

@use 'setting' as *;
@use 'theme' as *;

$_default-timing: setting(defaults, timing);

// --------------------------------
//   Functions
// --------------------------------

@function timing($timing: $_default-timing) {
  @return theme-or-fallback(timing, $timing);
}

// --------------------------------
//   Mixins
// --------------------------------

@mixin animation-timing($timing: $_default-timing) {
  animation-timing-function: timing($timing);
}

@mixin transition-timing($timing: $_default-timing) {
  transition-timing-function: timing($timing);
}
