// --------------------------------
//   Typography helpers
// --------------------------------

@use 'sass:map';
@use 'sass:math';
@use 'sass:list';
@use 'sass:string';

@use '../config';
@use '../helpers' as *;
@use 'media-query' as *;
@use 'theme' as *;

// --------------------------------
//   Vars
// --------------------------------

$_default-font-family: config.default(font-family);
$_default-font-size: config.default(font-size);
$_default-font-weight: config.default(font-weight);

$_default-leading: config.default(leading);
$_default-tracking: config.default(tracking);

$_screens: theme(screens);
$_min-screen: list.nth(map.keys($_screens), 1);
$_max-screen: list.nth(map.keys($_screens), -1);

$_default-min-bp: bp($_min-screen);
$_default-max-bp: bp($_max-screen);

// --------------------------------
//   Functions
// --------------------------------

// Get theme font-family
@function font-family($font-family: $_default-font-family) {
  @return theme(font-family, $font-family);
}

// Get theme font-size or fallback to value
@function font-size($font-size: $_default-font-size) {
  @if theme-has-key(font-size, $font-size) {
    @return list.nth(theme(font-size, $font-size), 1);
  } @else if is-unit($font-size) {
    @return $font-size;
  } @else {
    @error "[#{$font-size}] does not exist in the theme!";
  }
}

// Get theme font-weight or fallback to value
@function font-weight($font-weight: $_default-font-weight) {
  @return theme-or-fallback(font-weight, $font-weight);
}

// Get font-family, font-size or font-weight theme values
@function font($key) {
  @if theme-has-key(font-family, $key) {
    @return font-family($key);
  } @else if theme-has-key(font-size, $key) {
    @return font-size($key);
  } @else if theme-has-key(font-weight, $key) {
    @return font-weight($key);
  } @else {
    @error "[#{$key}] does not exist in the theme!";
  }
}

// Get theme leading (line-height) or fallback to value
@function leading($leading: $_default-leading) {
  @return theme-or-fallback(leading, $leading);
}

// Leading alias
@function line-height($leading: $_default-leading) {
  @return leading($leading);
}

// Fluid leading / line height
@function fluid-line-height($factor: config.$fluid-base-line-height-factor, $leading: 2px) {
  @return calc($leading + $factor + $leading);
}

// Get theme tracking (letter-spacing) or fallback to value
@function tracking($tracking: $_default-tracking) {
  @return theme-or-fallback(tracking, $tracking);
}

// Tracking alias
@function letter-spacing($tracking: $_default-tracking) {
  @return tracking($tracking);
}

// Leading (line-height) by font-size
@function text-leading($font-size) {
  @return list.nth(theme(font-size, $font-size), 2);
}

// Fluid font-size
@function fluid-font-size($min-fs, $max-fs, $min-bp: $_default-min-bp, $max-bp: $_default-max-bp) {
  $min-fs: font-size($min-fs);
  $max-fs: font-size($max-fs);
  $min-px: $min-fs;
  $max-px: $max-fs;

  // If $min-fs is in px convert it to rem
  @if math.unit($min-fs) == 'px' {
    $min-fs: rem($min-fs);
  } @else {
    $min-px: rem-to-px($min-px);
  }

  // If $max-fs is in px convert it to rem
  @if math.unit($max-fs) == 'px' {
    $max-fs: rem($max-fs);
  } @else {
    $max-px: rem-to-px($max-px);
  }

  $slope: math.div($max-px - $min-px, $max-bp - $min-bp);
  $slope-vw: math-round-float($slope * 100, 2);
  $intercept-rem: math-round-float(rem($min-px - $slope * $min-bp), 2);
  $min-rem: math-round-float($min-fs, 2);
  $max-rem: math-round-float($max-fs, 2);

  @return clamp(#{$min-rem}, #{$slope-vw}vw + #{$intercept-rem}, #{$max-rem});
}

// --------------------------------
//   Mixins
// --------------------------------

// Font-size with default line-height
@mixin font-size($font-size: $_default-font-size) {
  font-size: font-size($font-size);
}

// Font-size with default leading (line-height)
@mixin text-size($font-size: $_default-font-size) {
  font-size: font-size($font-size);
  line-height: text-leading($font-size);
}

// Applies antialiasing via font-smoothing to text.
@mixin smooth-font {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// Sets text content overflow to ellipsis
// Element must be `display: block` or `display: inline-block` for this to work.
@mixin overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Mixin helper to define a font-face
// Example: @include font-face('Tobias Light', 'fonts/Tobias-Light', $family: Tobias, $weight: 300);
@mixin font-face(
  $name,
  $path,
  $family: null,
  $weight: 400,
  $style: normal,
  $display: swap,
  $exts: eot woff2 woff ttf svg,
  $extra: null
) {
  $family: if($family, string.quote($family), string.quote($name));

  $formats: (
    eot: 'embedded-opentype',
    otf: 'opentype',
    ttf: 'truetype',
  );

  $src: (local($name), local(str-replace($name, ' ', '-')));
  @each $ext in $exts {
    $extension: if($ext == svg, $ext + '#' + str-replace($name, ' ', '_'), $ext);
    $format: if(map.has-key($formats, $ext), map.get($formats, $ext), $ext);
    $src: list.append(
      $src,
      url("#{string.quote($path + '.' + $extension)}") format(string.quote($format)),
      $separator: comma
    );
  }

  @font-face {
    font-display: $display;
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    src: $src;
    @each $key, $value in $extra {
      #{$key}: $value;
    }
  }
}
