@use 'sass:map';
@use 'sass:list';

@forward 'config';
@use 'koi';

@include koi.base();

// << Insert your base styles here >>

body {
  @include koi.font-size();
  // color: koi.fill(gray, 1);
  background-color: koi.fill(gray, 0);
  padding: koi.spacing(24, 24);
  font-family: koi.font-family(sans);
}

h1 {
  font-family: koi.font-family(sans);
}

a {
  color: koi.fill(primary);
}

.wrapper {
  margin-top: koi.rem(24);
  padding: koi.theme(spacing, 32);
  background-color: koi.fill(gray, 1);
  border: 2px solid koi.fill(gray);
  border-radius: 8px;
  @include koi.shadow(sm);
  // box-shadow: koi.shadow(md);
  // box-shadow: var(--koi-shadow-md);

  &:hover {
    border-color: koi.fill(primary);
    background-color: koi.fill(blue, 0);
    transition: all linear 400ms;
  }

  button {
    margin-top: 1rem;
  }
}

.lists {
  margin-top: koi.rem(12);
}

.text {
  line-height: koi.leading(relaxed);
}
