@use 'sass:map';
@use 'sass:list';
@use 'sass:color';

@forward 'config';
@use 'koi';

@include koi.base();

// << Insert your base styles here >>

// @include koi.font-face('Tobias Light', 'fonts/Tobias-Light', $family: Tobias, $weight: 300);

// html {
// --koi-btn-text-transform: uppercase;
// --koi-btn-border-radius: #{koi.radius(full)};
// }

body {
  @include koi.container($from: md, $padding: true, $center: true, $max-width: lg);
}

.box {
  @include koi.box($background: koi.fill(srf, 3), $rounded: true, $shadow: true);
  width: 128px;
  aspect-ratio: 1/1;

  &:hover {
    @include koi.ring(koi.fill(cnt, 9));
  }
}

.my-custom-card {
  --koi-card-border-width: 2px;
}
