@use 'sass:map';
@use 'sass:list';
@use 'sass:color';

@forward 'config';
@use 'koi';

@include koi.base();

// << Insert your base styles here >>

// @include koi.font-face('Tobias Light', 'fonts/Tobias-Light', $family: Tobias, $weight: 300);

body {
  // --koi-btn-text-transform: uppercase;
  // --koi-btn-border-radius: #{koi.radius(full)};
  // --koi-divider-height: 1px;

  @include koi.container($from: md, $padding: true, $center: true, $max-width: lg);
}

.box {
  @include koi.box($background: koi.fill(srf, 3), $rounded: true, $shadow: true);
  width: 128px;
  aspect-ratio: 1/1;

  &:hover {
    @include koi.ring(koi.fill(cnt, 9));
  }
}

.my-slider {
  --koi-thumb-color: rgb(25, 169, 25);
  --koi-thumb-color-hover: rgb(144, 238, 144);
  --koi-thumb-color-focus: rgb(144, 238, 144);
  --koi-thumb-focus-ring: 0 0 0 8px rgb(144, 238, 144, 0.5);
  --koi-track-color: #{koi.gradient(5)};
}
