// Your custom KoiCSS overwrites

@use 'koi' with (
  $config: (
    spacer: 1rem,
  ),
  $theme: (
    colors: (
      primary: #00ffcc,
      secondary: #ff33e4,
    ),
    font-family: (
      heading: (
        'Lato',
        sans-serif,
      ),
    ),
  )
);
