// Your custom KoiCSS overwrites

@use 'koi' with (
  $settings: (
    //   prefix: 'koi',
  ),
  $theme: (
    color-schemes: (
      light: (
        // heading: rgb(102, 46, 233),
      ),
      dark: (
        // heading: rgb(46, 183, 233),
      ),
    ),
  )
);
