// @use 'koi-config';
// @use 'koi-core' as koi;
// @use 'koi-base';
// @use 'koi-components';
// @use 'koi-utilities';

@use 'sass:map';
@forward 'config';
@use 'koi';

body {
  color: koi.color(gray, 100);
  background-color: koi.color(gray, 900);
  padding: koi.spacing(32);
  font-family: koi.font-family(sans);
  @include koi.font-size();
}

h1 {
  font-family: koi.font-family(sans);
}

a {
  color: koi.color(primary);
}

.wrapper {
  margin-top: koi.rem(24);
  padding: koi.theme(spacing, 32);
  border: 2px solid koi.color(secondary);
  border-radius: 8px;

  &:hover {
    border-color: koi.color(primary);
    transition: all linear 400ms;
  }

  button {
    margin-top: 1rem;
  }
}

.lists {
  margin-top: koi.rem(12);
}

.text {
  line-height: koi.leading(relaxed);
}

.box {
  width: 64px;
  height: 64px;
  margin-top: 24px;
  background-color: koi.color(primary);
  color: koi.color(gray, 900);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: koi.shadow();

  @include koi.mq(md) {
    background-color: koi.color(secondary);
  }
}
