// ------------------------------------------------
//   Animation Utilities
// ------------------------------------------------

@use '../config';
@use '../api' as *;
@use '../base/animation';

// --------------------------------
//   Vars
// --------------------------------

$animations: animation.$animations;

// --------------------------------
//   Utilities
// --------------------------------

$utilities: (
  animations: (
    property: animation,
    class: animation,
    responsive: false,
    values: $animations,
  ),
);
