// ------------------------------------------------
//   Animation Utilities
// ------------------------------------------------

@use '../config';
@use '../api' as *;

// --------------------------------
//   Vars
// --------------------------------

$_animations: theme(animations);

// --------------------------------
//   Utilities
// --------------------------------

$utilities: (
  animations: (
    property: animation,
    class: animation,
    responsive: false,
    values: $_animations,
  ),
);
