// --------------------------------
//   Background Utilities
// --------------------------------

@use 'sass:map';

@use '../config';
@use '../api' as *;

// --------------------------------
//   Vars
// --------------------------------

$_colors: map.merge(
  $merged-colors,
  (
    current: currentColor,
    inherit: inherit,
    transparent: transparent,
  )
);

// --------------------------------
//   Utilities
// --------------------------------

$utilities: (
  'background-color': (
    property: background-color,
    class: bg,
    pseudos: hover focus,
    values: $_colors,
  ),
);
