// --------------------------------
//   Background Utilities
// --------------------------------

@use 'sass:map';

@use '../core/generators' as *;
@use '../core' as *;
@use 'support';

$bg-values: map.merge(
  (
    current: currentColor,
    inherit: inherit,
    transparent: transparent,
  ),
  support.$utility-bg-colors-map
);

// --------------------------------

$utilities: (
  'background-color': (
    property: background-color,
    class: bg,
    state: hover focus,
    local-vars: (
      'bg-opacity': 1,
    ),
    values: $bg-values,
  ),
);
