// ------------------------------------------------
//   Effects Utilities (Box Shadow, Opacity, ...)
// ------------------------------------------------

@use '../core/generators' as *;
@use '../core' as *;

$utility-classes: (
  'shadow': (
    property: box-shadow,
    class: shadow,
    state: hover focus,
    default: config(fallbacks, shadow),
    values: theme(shadow),
  ),
);

@mixin utilities {
  @include generate-utilities($utility-classes);
}
