// ------------------------------------------------
//   Effects Utilities (Box Shadow, Opacity, ...)
// ------------------------------------------------

@use '../config';
@use '../api' as *;

// --------------------------------
//   Vars
// --------------------------------

$shadows: theme(shadow);
$opacities: theme(opacity);

// --------------------------------
//   Utilities
// --------------------------------

$utilities: (
  shadow: (
    property: box-shadow,
    class: shadow,
    pseudos: hover focus,
    default: config.default(shadow),
    values: $shadows,
  ),
  opacity: (
    property: opacity,
    pseudos: hover focus,
    values: $opacities,
  ),
);
