// --------------------------------
//   Filter Utilities (blur, ...)
// --------------------------------

@use 'sass:map';

@use '../config';
@use '../api' as *;

// --------------------------------
//   Vars
// --------------------------------

$_blurs: ();

@each $key, $value in theme(blur) {
  $_blurs: map.set($_blurs, $key, blur($value));
}

// --------------------------------
//   Utilities
// --------------------------------

$utilities: (
  blur: (
    property: filter,
    class: blur,
    pseudos: hover focus,
    default: config.default(blur),
    values: $_blurs,
  ),
);
