// ------------------------------------------------
//   Filter Utilities (blur, ...)
// ------------------------------------------------

@use 'sass:map';

@use '../config';
@use '../api' as *;

// --------------------------------
//   Vars
// --------------------------------

$blurs: ();

@each $key, $value in theme(blur) {
  $blurs: map.set($blurs, $key, blur($value));
}

// --------------------------------
//   Utilities
// --------------------------------

$utilities: (
  blur: (
    property: filter,
    class: blur,
    pseudos: hover focus,
    default: setting(fallbacks, blur),
    values: $blurs,
  ),
);
