// --------------------------------
//   Flex Utilities
// --------------------------------

@use '../core/generators' as *;
@use '../core' as *;

$utility-classes: (
  'flex': (
    property: flex,
    responsive: true,
    values: (
      1: 1 1 0%,
      auto: 1 1 auto,
      initial: 0 1 auto,
      none: none,
    ),
  ),
  'flex-direction': (
    property: flex-direction,
    class: flex,
    responsive: true,
    values: (
      row: row,
      row-reverse: row-reverse,
      col: column,
      col-reverse: column-reverse,
    ),
  ),
  'flex-wrap': (
    property: flex-wrap,
    class: flex,
    responsive: true,
    values: wrap nowrap wrap-reverse,
  ),
  'flex-grow': (
    property: flex-grow,
    class: flex,
    responsive: true,
    values: (
      grow-0: 0,
      grow: 1,
    ),
  ),
  'flex-shrink': (
    property: flex-shrink,
    class: flex,
    responsive: true,
    values: (
      shrink-0: 0,
      shrink: 1,
    ),
  ),
  'order': (
    property: order,
    responsive: true,
    values: (
      first: -1,
      none: 0,
      1: 1,
      2: 2,
      3: 3,
      4: 4,
      5: 5,
      last: 6,
    ),
  ),
  'justify-content': (
    property: justify-content,
    class: justify,
    responsive: true,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      evenly: space-evenly,
    ),
  ),
  'justify-self': (
    property: justify-self,
    responsive: true,
    values: auto start end center stretch,
  ),
  'align-content': (
    property: content,
    responsive: true,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      stretch: stretch,
    ),
  ),
  'align-items': (
    property: align-items,
    class: items,
    responsive: true,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    ),
  ),
  'align-self': (
    property: align-self,
    class: self,
    responsive: true,
    values: (
      auto: auto,
      start: flex-start,
      end: flex-end,
      center: center,
      stretch: stretch,
    ),
  ),
  'place-items': (
    property: place-items,
    responsive: true,
    values: start end center stretch,
  ),
  'place-self': (
    property: place-self,
    responsive: true,
    values: auto start end center stretch,
  ),
);

@mixin utilities {
  @include generate-utilities($utility-classes);
}
