// --------------------------------
//   Layout Utilities
// --------------------------------

@use 'sass:map';
@use 'sass:list';

@use '../theme/tokens/spacing' as *;
@use '../core/generators' as *;
@use '../core' as *;

$utilities: (
  'clear': (
    property: clear,
    responsive: true,
    values: left right both none,
  ),
  'columns': (
    property: column-count,
    class: columns,
    responsive: true,
    values: 1 2 3 4 5 6 7 8 9 10 11 12,
  ),
  'display': (
    property: display,
    class: null,
    responsive: true,
    values: (
      inline: inline,
      inline-block: inline-block,
      block: block,
      grid: grid,
      flex: flex,
      inline-flex: inline-flex,
      table: table,
      table-row: table-row,
      table-cell: table-cell,
      hidden: none,
    ),
  ),
  'float': (
    property: float,
    responsive: true,
    values: left right none,
  ),
  'object-fit': (
    property: object-fit,
    class: object,
    responsive: true,
    values: contain cover fill none scale-down,
  ),
  'object-position': (
    property: object-position,
    class: object,
    responsive: true,
    values: bottom center left left-bottom left-top right right-bottom right-top top,
  ),
  'overflow': (
    property: overflow,
    class: overflow,
    responsive: true,
    values: auto hidden visible scroll,
  ),
  'overflow-x': (
    property: overflow,
    class: overflow-x,
    responsive: true,
    values: auto hidden visible scroll,
  ),
  'overflow-y': (
    property: overflow,
    class: overflow-y,
    responsive: true,
    values: auto hidden visible scroll,
  ),
  'position': (
    property: position,
    class: null,
    responsive: true,
    values: static relative absolute fixed sticky,
  ),
  'visibility': (
    property: visibility,
    class: null,
    responsive: true,
    values: (
      visible: visible,
      invisible: hidden,
    ),
  ),
  'layer': (
    property: z-index,
    class: layer,
    responsive: true,
    values: theme(layer),
  ),
);

@mixin utilities {
  @include create-responsive-utility(container) {
    @include container(0px);
  }

  // Centered content using grid place-content
  @include create-responsive-utility(centered) {
    display: grid;
    place-content: center;
  }

  // Heap: Stacked elements
  // Credits: https://smolcss.dev/#smol-stack-layout
  @include create-responsive-utility(heap) {
    display: grid;
    grid-template-areas: 'stack';

    & > * {
      grid-area: stack;
    }
  }

  $-spacers: list.append(map.keys($spacers), 0);
  @each $key in $-spacers {
    $spacer-value: if(theme-has-key(spacing, $key), spacing($key), $key);

    @include create-responsive-utility(space-x-#{$key}) {
      & > :not([hidden]) ~ :not([hidden]) {
        margin-right: calc($spacer-value * var(--koi-space-x-reverse, 0));
        margin-left: calc($spacer-value * calc(1 - var(--koi-space-x-reverse, 0)));
      }
    }

    @include create-responsive-utility(space-y-#{$key}) {
      & > :not([hidden]) ~ :not([hidden]) {
        margin-top: calc($spacer-value * calc(1 - var(--koi-space-y-reverse, 0)));
        margin-bottom: calc($spacer-value * var(--koi-space-y-reverse, 0));
      }
    }
  }

  @include create-responsive-utility(space-x-reverse) {
    --koi-space-x-reverse: 1;
  }

  @include create-responsive-utility(space-y-reverse) {
    --koi-space-y-reverse: 1;
  }
}
