// --------------------------------
//   Sizing Utilities
// --------------------------------

@use 'sass:map';

@use '../tokens/spacing' as *;
@use '../core/generators' as *;
@use '../core' as *;

$sizes: theme(sizes);
$screens: theme(screens);

$width-values: map.merge(
  $sizes,
  (
    auto: auto,
    screen: 100vw,
    min: min-content,
    max: max-content,
    fit: fit-content,
  )
);

$max-width-values: map.merge(
  $screens,
  (
    0: 0,
    none: none,
    full: 100%,
    min: min-content,
    max: max-content,
    fit: fit-content,
  )
);

$height-values: map.merge(
  $sizes,
  (
    auto: auto,
    screen: 100vh,
    min: min-content,
    max: max-content,
    fit: fit-content,
  )
);

$max-height-values: map.merge(
  $spacing-scale,
  (
    0: 0,
    full: 100%,
    screen: 100vh,
    min: min-content,
    max: max-content,
    fit: fit-content,
  )
);

// --------------------------------

$utilities: (
  'width': (
    property: width,
    class: w,
    responsive: true,
    values: $width-values,
  ),
  'min-width': (
    property: min-width,
    class: min-w,
    responsive: true,
    values: (
      0: 0,
      full: 100%,
      min: min-content,
      max: max-content,
      fit: fit-content,
    ),
  ),
  'max-width': (
    property: max-width,
    class: max-w,
    responsive: true,
    values: $max-width-values,
  ),
  'height': (
    property: height,
    class: h,
    responsive: true,
    values: $height-values,
  ),
  'min-height': (
    property: min-height,
    class: min-h,
    responsive: true,
    values: (
      0: 0,
      full: 100%,
      screen: 100vh,
      min: min-content,
      max: max-content,
      fit: fit-content,
    ),
  ),
  'max-height': (
    property: max-height,
    class: max-h,
    responsive: true,
    values: $max-height-values,
  ),
);
