// --------------------------------
//   Typography Utilities
// --------------------------------

@use 'sass:map';

@use '../core/generators' as *;
@use '../core' as *;
@use 'support';

$utilities: (
  color: (
    property: color,
    class: text,
    state: hover focus,
    local-vars: (
      'text-opacity': 1,
    ),
    values:
      map.merge(
        (
          current: currentColor,
          inherit: inherit,
          transparent: transparent,
        ),
        support.$utility-text-colors-map
      ),
  ),
  font-style: (
    property: font-style,
    class: null,
    values: (
      italic: italic,
      not-italic: normal,
    ),
  ),
  font-weight: (
    property: font-weight,
    class: font,
    values: theme(font-weight),
  ),
  line-height: (
    property: line-height,
    class: leading,
    responsive: true,
    values: theme(leading),
  ),
  letter-spacing: (
    property: letter-spacing,
    class: tracking,
    values: theme(tracking),
  ),
  text-align: (
    property: text-align,
    class: text,
    responsive: true,
    values: left right center justify,
  ),
);

@mixin utilities {
  // Font-size with corresponding line-height
  $-font-sizes: map.keys(theme(font-size));
  @each $key in $-font-sizes {
    @include create-responsive-utility(text-#{$key}) {
      @include text-size($key);
    }
  }
}
