html {
  --c-surface-1-h: 0deg;
  --c-surface-1-s: 0%;
  --c-surface-1-l: 98.0392156863%;
  --c-surface-1: hsl(var(--c-surface-1-h) var(--c-surface-1-s) var(--c-surface-1-l));
  --c-surface-2-h: 0deg;
  --c-surface-2-s: 0%;
  --c-surface-2-l: 100%;
  --c-surface-2: hsl(var(--c-surface-2-h) var(--c-surface-2-s) var(--c-surface-2-l));
  --c-surface-3-h: 0deg;
  --c-surface-3-s: 0%;
  --c-surface-3-l: 96.0784313725%;
  --c-surface-3: hsl(var(--c-surface-3-h) var(--c-surface-3-s) var(--c-surface-3-l));
  --c-surface-4-h: 0deg;
  --c-surface-4-s: 0%;
  --c-surface-4-l: 90.1960784314%;
  --c-surface-4: hsl(var(--c-surface-4-h) var(--c-surface-4-s) var(--c-surface-4-l));
  --c-text-1-h: 0deg;
  --c-text-1-s: 0%;
  --c-text-1-l: 9.0196078431%;
  --c-text-1: hsl(var(--c-text-1-h) var(--c-text-1-s) var(--c-text-1-l));
  --c-text-2-h: 0deg;
  --c-text-2-s: 0%;
  --c-text-2-l: 14.9019607843%;
  --c-text-2: hsl(var(--c-text-2-h) var(--c-text-2-s) var(--c-text-2-l));
  --c-text-3-h: 0deg;
  --c-text-3-s: 0%;
  --c-text-3-l: 25.0980392157%;
  --c-text-3: hsl(var(--c-text-3-h) var(--c-text-3-s) var(--c-text-3-l));
  --c-text-4-h: 0deg;
  --c-text-4-s: 0%;
  --c-text-4-l: 32.1568627451%;
  --c-text-4: hsl(var(--c-text-4-h) var(--c-text-4-s) var(--c-text-4-l));
  --c-code-bg-h: 0deg;
  --c-code-bg-s: 0%;
  --c-code-bg-l: 9.0196078431%;
  --c-code-bg: hsl(var(--c-code-bg-h) var(--c-code-bg-s) var(--c-code-bg-l));
  --c-code-text-h: 0deg;
  --c-code-text-s: 0%;
  --c-code-text-l: 96.0784313725%;
  --c-code-text: hsl(var(--c-code-text-h) var(--c-code-text-s) var(--c-code-text-l));
  --c-quote-text-h: 0deg;
  --c-quote-text-s: 0%;
  --c-quote-text-l: 14.9019607843%;
  --c-quote-text: hsl(var(--c-quote-text-h) var(--c-quote-text-s) var(--c-quote-text-l));
  --c-quote-border-h: 168.9795918367deg;
  --c-quote-border-s: 90.1840490798%;
  --c-quote-border-l: 31.9607843137%;
  --c-quote-border: hsl(var(--c-quote-border-h) var(--c-quote-border-s) var(--c-quote-border-l));
  --c-surface-light-1-h: 0deg;
  --c-surface-light-1-s: 0%;
  --c-surface-light-1-l: 98.0392156863%;
  --c-surface-light-1: hsl(var(--c-surface-light-1-h) var(--c-surface-light-1-s) var(--c-surface-light-1-l));
  --c-surface-light-2-h: 0deg;
  --c-surface-light-2-s: 0%;
  --c-surface-light-2-l: 100%;
  --c-surface-light-2: hsl(var(--c-surface-light-2-h) var(--c-surface-light-2-s) var(--c-surface-light-2-l));
  --c-surface-light-3-h: 0deg;
  --c-surface-light-3-s: 0%;
  --c-surface-light-3-l: 96.0784313725%;
  --c-surface-light-3: hsl(var(--c-surface-light-3-h) var(--c-surface-light-3-s) var(--c-surface-light-3-l));
  --c-surface-light-4-h: 0deg;
  --c-surface-light-4-s: 0%;
  --c-surface-light-4-l: 90.1960784314%;
  --c-surface-light-4: hsl(var(--c-surface-light-4-h) var(--c-surface-light-4-s) var(--c-surface-light-4-l));
  --c-text-light-1-h: 0deg;
  --c-text-light-1-s: 0%;
  --c-text-light-1-l: 9.0196078431%;
  --c-text-light-1: hsl(var(--c-text-light-1-h) var(--c-text-light-1-s) var(--c-text-light-1-l));
  --c-text-light-2-h: 0deg;
  --c-text-light-2-s: 0%;
  --c-text-light-2-l: 14.9019607843%;
  --c-text-light-2: hsl(var(--c-text-light-2-h) var(--c-text-light-2-s) var(--c-text-light-2-l));
  --c-text-light-3-h: 0deg;
  --c-text-light-3-s: 0%;
  --c-text-light-3-l: 25.0980392157%;
  --c-text-light-3: hsl(var(--c-text-light-3-h) var(--c-text-light-3-s) var(--c-text-light-3-l));
  --c-text-light-4-h: 0deg;
  --c-text-light-4-s: 0%;
  --c-text-light-4-l: 32.1568627451%;
  --c-text-light-4: hsl(var(--c-text-light-4-h) var(--c-text-light-4-s) var(--c-text-light-4-l));
  --c-code-bg-light-h: 0deg;
  --c-code-bg-light-s: 0%;
  --c-code-bg-light-l: 9.0196078431%;
  --c-code-bg-light: hsl(var(--c-code-bg-light-h) var(--c-code-bg-light-s) var(--c-code-bg-light-l));
  --c-code-text-light-h: 0deg;
  --c-code-text-light-s: 0%;
  --c-code-text-light-l: 96.0784313725%;
  --c-code-text-light: hsl(var(--c-code-text-light-h) var(--c-code-text-light-s) var(--c-code-text-light-l));
  --c-quote-text-light-h: 0deg;
  --c-quote-text-light-s: 0%;
  --c-quote-text-light-l: 14.9019607843%;
  --c-quote-text-light: hsl(var(--c-quote-text-light-h) var(--c-quote-text-light-s) var(--c-quote-text-light-l));
  --c-quote-border-light-h: 168.9795918367deg;
  --c-quote-border-light-s: 90.1840490798%;
  --c-quote-border-light-l: 31.9607843137%;
  --c-quote-border-light: hsl(
    var(--c-quote-border-light-h) var(--c-quote-border-light-s) var(--c-quote-border-light-l)
  );
}
@media (color-index: 70) {
  :root {
    --c-surface-1-h: 0deg;
    --c-surface-1-s: 0%;
    --c-surface-1-l: 98.0392156863%;
    --c-surface-1: hsl(var(--c-surface-1-h) var(--c-surface-1-s) var(--c-surface-1-l));
    --c-surface-2-h: 0deg;
    --c-surface-2-s: 0%;
    --c-surface-2-l: 100%;
    --c-surface-2: hsl(var(--c-surface-2-h) var(--c-surface-2-s) var(--c-surface-2-l));
    --c-surface-3-h: 0deg;
    --c-surface-3-s: 0%;
    --c-surface-3-l: 96.0784313725%;
    --c-surface-3: hsl(var(--c-surface-3-h) var(--c-surface-3-s) var(--c-surface-3-l));
    --c-surface-4-h: 0deg;
    --c-surface-4-s: 0%;
    --c-surface-4-l: 90.1960784314%;
    --c-surface-4: hsl(var(--c-surface-4-h) var(--c-surface-4-s) var(--c-surface-4-l));
    --c-text-1-h: 0deg;
    --c-text-1-s: 0%;
    --c-text-1-l: 9.0196078431%;
    --c-text-1: hsl(var(--c-text-1-h) var(--c-text-1-s) var(--c-text-1-l));
    --c-text-2-h: 0deg;
    --c-text-2-s: 0%;
    --c-text-2-l: 14.9019607843%;
    --c-text-2: hsl(var(--c-text-2-h) var(--c-text-2-s) var(--c-text-2-l));
    --c-text-3-h: 0deg;
    --c-text-3-s: 0%;
    --c-text-3-l: 25.0980392157%;
    --c-text-3: hsl(var(--c-text-3-h) var(--c-text-3-s) var(--c-text-3-l));
    --c-text-4-h: 0deg;
    --c-text-4-s: 0%;
    --c-text-4-l: 32.1568627451%;
    --c-text-4: hsl(var(--c-text-4-h) var(--c-text-4-s) var(--c-text-4-l));
    --c-code-bg-h: 0deg;
    --c-code-bg-s: 0%;
    --c-code-bg-l: 9.0196078431%;
    --c-code-bg: hsl(var(--c-code-bg-h) var(--c-code-bg-s) var(--c-code-bg-l));
    --c-code-text-h: 0deg;
    --c-code-text-s: 0%;
    --c-code-text-l: 96.0784313725%;
    --c-code-text: hsl(var(--c-code-text-h) var(--c-code-text-s) var(--c-code-text-l));
    --c-quote-text-h: 0deg;
    --c-quote-text-s: 0%;
    --c-quote-text-l: 14.9019607843%;
    --c-quote-text: hsl(var(--c-quote-text-h) var(--c-quote-text-s) var(--c-quote-text-l));
    --c-quote-border-h: 168.9795918367deg;
    --c-quote-border-s: 90.1840490798%;
    --c-quote-border-l: 31.9607843137%;
    --c-quote-border: hsl(var(--c-quote-border-h) var(--c-quote-border-s) var(--c-quote-border-l));
    color-scheme: light;
  }
}
@media (color: 70318723) {
  :root {
    --c-surface-1-h: 0deg;
    --c-surface-1-s: 0%;
    --c-surface-1-l: 98.0392156863%;
    --c-surface-1: hsl(var(--c-surface-1-h) var(--c-surface-1-s) var(--c-surface-1-l));
    --c-surface-2-h: 0deg;
    --c-surface-2-s: 0%;
    --c-surface-2-l: 100%;
    --c-surface-2: hsl(var(--c-surface-2-h) var(--c-surface-2-s) var(--c-surface-2-l));
    --c-surface-3-h: 0deg;
    --c-surface-3-s: 0%;
    --c-surface-3-l: 96.0784313725%;
    --c-surface-3: hsl(var(--c-surface-3-h) var(--c-surface-3-s) var(--c-surface-3-l));
    --c-surface-4-h: 0deg;
    --c-surface-4-s: 0%;
    --c-surface-4-l: 90.1960784314%;
    --c-surface-4: hsl(var(--c-surface-4-h) var(--c-surface-4-s) var(--c-surface-4-l));
    --c-text-1-h: 0deg;
    --c-text-1-s: 0%;
    --c-text-1-l: 9.0196078431%;
    --c-text-1: hsl(var(--c-text-1-h) var(--c-text-1-s) var(--c-text-1-l));
    --c-text-2-h: 0deg;
    --c-text-2-s: 0%;
    --c-text-2-l: 14.9019607843%;
    --c-text-2: hsl(var(--c-text-2-h) var(--c-text-2-s) var(--c-text-2-l));
    --c-text-3-h: 0deg;
    --c-text-3-s: 0%;
    --c-text-3-l: 25.0980392157%;
    --c-text-3: hsl(var(--c-text-3-h) var(--c-text-3-s) var(--c-text-3-l));
    --c-text-4-h: 0deg;
    --c-text-4-s: 0%;
    --c-text-4-l: 32.1568627451%;
    --c-text-4: hsl(var(--c-text-4-h) var(--c-text-4-s) var(--c-text-4-l));
    --c-code-bg-h: 0deg;
    --c-code-bg-s: 0%;
    --c-code-bg-l: 9.0196078431%;
    --c-code-bg: hsl(var(--c-code-bg-h) var(--c-code-bg-s) var(--c-code-bg-l));
    --c-code-text-h: 0deg;
    --c-code-text-s: 0%;
    --c-code-text-l: 96.0784313725%;
    --c-code-text: hsl(var(--c-code-text-h) var(--c-code-text-s) var(--c-code-text-l));
    --c-quote-text-h: 0deg;
    --c-quote-text-s: 0%;
    --c-quote-text-l: 14.9019607843%;
    --c-quote-text: hsl(var(--c-quote-text-h) var(--c-quote-text-s) var(--c-quote-text-l));
    --c-quote-border-h: 168.9795918367deg;
    --c-quote-border-s: 90.1840490798%;
    --c-quote-border-l: 31.9607843137%;
    --c-quote-border: hsl(var(--c-quote-border-h) var(--c-quote-border-s) var(--c-quote-border-l));
    color-scheme: light;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --c-surface-1-h: 0deg;
    --c-surface-1-s: 0%;
    --c-surface-1-l: 98.0392156863%;
    --c-surface-1: hsl(var(--c-surface-1-h) var(--c-surface-1-s) var(--c-surface-1-l));
    --c-surface-2-h: 0deg;
    --c-surface-2-s: 0%;
    --c-surface-2-l: 100%;
    --c-surface-2: hsl(var(--c-surface-2-h) var(--c-surface-2-s) var(--c-surface-2-l));
    --c-surface-3-h: 0deg;
    --c-surface-3-s: 0%;
    --c-surface-3-l: 96.0784313725%;
    --c-surface-3: hsl(var(--c-surface-3-h) var(--c-surface-3-s) var(--c-surface-3-l));
    --c-surface-4-h: 0deg;
    --c-surface-4-s: 0%;
    --c-surface-4-l: 90.1960784314%;
    --c-surface-4: hsl(var(--c-surface-4-h) var(--c-surface-4-s) var(--c-surface-4-l));
    --c-text-1-h: 0deg;
    --c-text-1-s: 0%;
    --c-text-1-l: 9.0196078431%;
    --c-text-1: hsl(var(--c-text-1-h) var(--c-text-1-s) var(--c-text-1-l));
    --c-text-2-h: 0deg;
    --c-text-2-s: 0%;
    --c-text-2-l: 14.9019607843%;
    --c-text-2: hsl(var(--c-text-2-h) var(--c-text-2-s) var(--c-text-2-l));
    --c-text-3-h: 0deg;
    --c-text-3-s: 0%;
    --c-text-3-l: 25.0980392157%;
    --c-text-3: hsl(var(--c-text-3-h) var(--c-text-3-s) var(--c-text-3-l));
    --c-text-4-h: 0deg;
    --c-text-4-s: 0%;
    --c-text-4-l: 32.1568627451%;
    --c-text-4: hsl(var(--c-text-4-h) var(--c-text-4-s) var(--c-text-4-l));
    --c-code-bg-h: 0deg;
    --c-code-bg-s: 0%;
    --c-code-bg-l: 9.0196078431%;
    --c-code-bg: hsl(var(--c-code-bg-h) var(--c-code-bg-s) var(--c-code-bg-l));
    --c-code-text-h: 0deg;
    --c-code-text-s: 0%;
    --c-code-text-l: 96.0784313725%;
    --c-code-text: hsl(var(--c-code-text-h) var(--c-code-text-s) var(--c-code-text-l));
    --c-quote-text-h: 0deg;
    --c-quote-text-s: 0%;
    --c-quote-text-l: 14.9019607843%;
    --c-quote-text: hsl(var(--c-quote-text-h) var(--c-quote-text-s) var(--c-quote-text-l));
    --c-quote-border-h: 168.9795918367deg;
    --c-quote-border-s: 90.1840490798%;
    --c-quote-border-l: 31.9607843137%;
    --c-quote-border: hsl(var(--c-quote-border-h) var(--c-quote-border-s) var(--c-quote-border-l));
    color-scheme: light;
  }
}
html {
  --c-surface-dark-1-h: 0deg;
  --c-surface-dark-1-s: 0%;
  --c-surface-dark-1-l: 9.0196078431%;
  --c-surface-dark-1: hsl(var(--c-surface-dark-1-h) var(--c-surface-dark-1-s) var(--c-surface-dark-1-l));
  --c-surface-dark-2-h: 0deg;
  --c-surface-dark-2-s: 0%;
  --c-surface-dark-2-l: 14.9019607843%;
  --c-surface-dark-2: hsl(var(--c-surface-dark-2-h) var(--c-surface-dark-2-s) var(--c-surface-dark-2-l));
  --c-surface-dark-3-h: 0deg;
  --c-surface-dark-3-s: 0%;
  --c-surface-dark-3-l: 25.0980392157%;
  --c-surface-dark-3: hsl(var(--c-surface-dark-3-h) var(--c-surface-dark-3-s) var(--c-surface-dark-3-l));
  --c-surface-dark-4-h: 0deg;
  --c-surface-dark-4-s: 0%;
  --c-surface-dark-4-l: 32.1568627451%;
  --c-surface-dark-4: hsl(var(--c-surface-dark-4-h) var(--c-surface-dark-4-s) var(--c-surface-dark-4-l));
  --c-text-dark-1-h: 0deg;
  --c-text-dark-1-s: 0%;
  --c-text-dark-1-l: 98.0392156863%;
  --c-text-dark-1: hsl(var(--c-text-dark-1-h) var(--c-text-dark-1-s) var(--c-text-dark-1-l));
  --c-text-dark-2-h: 0deg;
  --c-text-dark-2-s: 0%;
  --c-text-dark-2-l: 96.0784313725%;
  --c-text-dark-2: hsl(var(--c-text-dark-2-h) var(--c-text-dark-2-s) var(--c-text-dark-2-l));
  --c-text-dark-3-h: 0deg;
  --c-text-dark-3-s: 0%;
  --c-text-dark-3-l: 90.1960784314%;
  --c-text-dark-3: hsl(var(--c-text-dark-3-h) var(--c-text-dark-3-s) var(--c-text-dark-3-l));
  --c-text-dark-4-h: 0deg;
  --c-text-dark-4-s: 0%;
  --c-text-dark-4-l: 83.137254902%;
  --c-text-dark-4: hsl(var(--c-text-dark-4-h) var(--c-text-dark-4-s) var(--c-text-dark-4-l));
  --c-code-bg-dark-h: 0deg;
  --c-code-bg-dark-s: 0%;
  --c-code-bg-dark-l: 0%;
  --c-code-bg-dark: hsl(var(--c-code-bg-dark-h) var(--c-code-bg-dark-s) var(--c-code-bg-dark-l));
  --c-code-text-dark-h: 0deg;
  --c-code-text-dark-s: 0%;
  --c-code-text-dark-l: 96.0784313725%;
  --c-code-text-dark: hsl(var(--c-code-text-dark-h) var(--c-code-text-dark-s) var(--c-code-text-dark-l));
  --c-quote-text-dark-h: 0deg;
  --c-quote-text-dark-s: 0%;
  --c-quote-text-dark-l: 96.0784313725%;
  --c-quote-text-dark: hsl(var(--c-quote-text-dark-h) var(--c-quote-text-dark-s) var(--c-quote-text-dark-l));
  --c-quote-border-dark-h: 168.9795918367deg;
  --c-quote-border-dark-s: 90.1840490798%;
  --c-quote-border-dark-l: 31.9607843137%;
  --c-quote-border-dark: hsl(var(--c-quote-border-dark-h) var(--c-quote-border-dark-s) var(--c-quote-border-dark-l));
}
@media (color-index: 48) {
  :root {
    --c-surface-1-h: 0deg;
    --c-surface-1-s: 0%;
    --c-surface-1-l: 9.0196078431%;
    --c-surface-1: hsl(var(--c-surface-1-h) var(--c-surface-1-s) var(--c-surface-1-l));
    --c-surface-2-h: 0deg;
    --c-surface-2-s: 0%;
    --c-surface-2-l: 14.9019607843%;
    --c-surface-2: hsl(var(--c-surface-2-h) var(--c-surface-2-s) var(--c-surface-2-l));
    --c-surface-3-h: 0deg;
    --c-surface-3-s: 0%;
    --c-surface-3-l: 25.0980392157%;
    --c-surface-3: hsl(var(--c-surface-3-h) var(--c-surface-3-s) var(--c-surface-3-l));
    --c-surface-4-h: 0deg;
    --c-surface-4-s: 0%;
    --c-surface-4-l: 32.1568627451%;
    --c-surface-4: hsl(var(--c-surface-4-h) var(--c-surface-4-s) var(--c-surface-4-l));
    --c-text-1-h: 0deg;
    --c-text-1-s: 0%;
    --c-text-1-l: 98.0392156863%;
    --c-text-1: hsl(var(--c-text-1-h) var(--c-text-1-s) var(--c-text-1-l));
    --c-text-2-h: 0deg;
    --c-text-2-s: 0%;
    --c-text-2-l: 96.0784313725%;
    --c-text-2: hsl(var(--c-text-2-h) var(--c-text-2-s) var(--c-text-2-l));
    --c-text-3-h: 0deg;
    --c-text-3-s: 0%;
    --c-text-3-l: 90.1960784314%;
    --c-text-3: hsl(var(--c-text-3-h) var(--c-text-3-s) var(--c-text-3-l));
    --c-text-4-h: 0deg;
    --c-text-4-s: 0%;
    --c-text-4-l: 83.137254902%;
    --c-text-4: hsl(var(--c-text-4-h) var(--c-text-4-s) var(--c-text-4-l));
    --c-code-bg-h: 0deg;
    --c-code-bg-s: 0%;
    --c-code-bg-l: 0%;
    --c-code-bg: hsl(var(--c-code-bg-h) var(--c-code-bg-s) var(--c-code-bg-l));
    --c-code-text-h: 0deg;
    --c-code-text-s: 0%;
    --c-code-text-l: 96.0784313725%;
    --c-code-text: hsl(var(--c-code-text-h) var(--c-code-text-s) var(--c-code-text-l));
    --c-quote-text-h: 0deg;
    --c-quote-text-s: 0%;
    --c-quote-text-l: 96.0784313725%;
    --c-quote-text: hsl(var(--c-quote-text-h) var(--c-quote-text-s) var(--c-quote-text-l));
    --c-quote-border-h: 168.9795918367deg;
    --c-quote-border-s: 90.1840490798%;
    --c-quote-border-l: 31.9607843137%;
    --c-quote-border: hsl(var(--c-quote-border-h) var(--c-quote-border-s) var(--c-quote-border-l));
    color-scheme: dark;
  }
}
@media (color: 48842621) {
  :root {
    --c-surface-1-h: 0deg;
    --c-surface-1-s: 0%;
    --c-surface-1-l: 9.0196078431%;
    --c-surface-1: hsl(var(--c-surface-1-h) var(--c-surface-1-s) var(--c-surface-1-l));
    --c-surface-2-h: 0deg;
    --c-surface-2-s: 0%;
    --c-surface-2-l: 14.9019607843%;
    --c-surface-2: hsl(var(--c-surface-2-h) var(--c-surface-2-s) var(--c-surface-2-l));
    --c-surface-3-h: 0deg;
    --c-surface-3-s: 0%;
    --c-surface-3-l: 25.0980392157%;
    --c-surface-3: hsl(var(--c-surface-3-h) var(--c-surface-3-s) var(--c-surface-3-l));
    --c-surface-4-h: 0deg;
    --c-surface-4-s: 0%;
    --c-surface-4-l: 32.1568627451%;
    --c-surface-4: hsl(var(--c-surface-4-h) var(--c-surface-4-s) var(--c-surface-4-l));
    --c-text-1-h: 0deg;
    --c-text-1-s: 0%;
    --c-text-1-l: 98.0392156863%;
    --c-text-1: hsl(var(--c-text-1-h) var(--c-text-1-s) var(--c-text-1-l));
    --c-text-2-h: 0deg;
    --c-text-2-s: 0%;
    --c-text-2-l: 96.0784313725%;
    --c-text-2: hsl(var(--c-text-2-h) var(--c-text-2-s) var(--c-text-2-l));
    --c-text-3-h: 0deg;
    --c-text-3-s: 0%;
    --c-text-3-l: 90.1960784314%;
    --c-text-3: hsl(var(--c-text-3-h) var(--c-text-3-s) var(--c-text-3-l));
    --c-text-4-h: 0deg;
    --c-text-4-s: 0%;
    --c-text-4-l: 83.137254902%;
    --c-text-4: hsl(var(--c-text-4-h) var(--c-text-4-s) var(--c-text-4-l));
    --c-code-bg-h: 0deg;
    --c-code-bg-s: 0%;
    --c-code-bg-l: 0%;
    --c-code-bg: hsl(var(--c-code-bg-h) var(--c-code-bg-s) var(--c-code-bg-l));
    --c-code-text-h: 0deg;
    --c-code-text-s: 0%;
    --c-code-text-l: 96.0784313725%;
    --c-code-text: hsl(var(--c-code-text-h) var(--c-code-text-s) var(--c-code-text-l));
    --c-quote-text-h: 0deg;
    --c-quote-text-s: 0%;
    --c-quote-text-l: 96.0784313725%;
    --c-quote-text: hsl(var(--c-quote-text-h) var(--c-quote-text-s) var(--c-quote-text-l));
    --c-quote-border-h: 168.9795918367deg;
    --c-quote-border-s: 90.1840490798%;
    --c-quote-border-l: 31.9607843137%;
    --c-quote-border: hsl(var(--c-quote-border-h) var(--c-quote-border-s) var(--c-quote-border-l));
    color-scheme: dark;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --c-surface-1-h: 0deg;
    --c-surface-1-s: 0%;
    --c-surface-1-l: 9.0196078431%;
    --c-surface-1: hsl(var(--c-surface-1-h) var(--c-surface-1-s) var(--c-surface-1-l));
    --c-surface-2-h: 0deg;
    --c-surface-2-s: 0%;
    --c-surface-2-l: 14.9019607843%;
    --c-surface-2: hsl(var(--c-surface-2-h) var(--c-surface-2-s) var(--c-surface-2-l));
    --c-surface-3-h: 0deg;
    --c-surface-3-s: 0%;
    --c-surface-3-l: 25.0980392157%;
    --c-surface-3: hsl(var(--c-surface-3-h) var(--c-surface-3-s) var(--c-surface-3-l));
    --c-surface-4-h: 0deg;
    --c-surface-4-s: 0%;
    --c-surface-4-l: 32.1568627451%;
    --c-surface-4: hsl(var(--c-surface-4-h) var(--c-surface-4-s) var(--c-surface-4-l));
    --c-text-1-h: 0deg;
    --c-text-1-s: 0%;
    --c-text-1-l: 98.0392156863%;
    --c-text-1: hsl(var(--c-text-1-h) var(--c-text-1-s) var(--c-text-1-l));
    --c-text-2-h: 0deg;
    --c-text-2-s: 0%;
    --c-text-2-l: 96.0784313725%;
    --c-text-2: hsl(var(--c-text-2-h) var(--c-text-2-s) var(--c-text-2-l));
    --c-text-3-h: 0deg;
    --c-text-3-s: 0%;
    --c-text-3-l: 90.1960784314%;
    --c-text-3: hsl(var(--c-text-3-h) var(--c-text-3-s) var(--c-text-3-l));
    --c-text-4-h: 0deg;
    --c-text-4-s: 0%;
    --c-text-4-l: 83.137254902%;
    --c-text-4: hsl(var(--c-text-4-h) var(--c-text-4-s) var(--c-text-4-l));
    --c-code-bg-h: 0deg;
    --c-code-bg-s: 0%;
    --c-code-bg-l: 0%;
    --c-code-bg: hsl(var(--c-code-bg-h) var(--c-code-bg-s) var(--c-code-bg-l));
    --c-code-text-h: 0deg;
    --c-code-text-s: 0%;
    --c-code-text-l: 96.0784313725%;
    --c-code-text: hsl(var(--c-code-text-h) var(--c-code-text-s) var(--c-code-text-l));
    --c-quote-text-h: 0deg;
    --c-quote-text-s: 0%;
    --c-quote-text-l: 96.0784313725%;
    --c-quote-text: hsl(var(--c-quote-text-h) var(--c-quote-text-s) var(--c-quote-text-l));
    --c-quote-border-h: 168.9795918367deg;
    --c-quote-border-s: 90.1840490798%;
    --c-quote-border-l: 31.9607843137%;
    --c-quote-border: hsl(var(--c-quote-border-h) var(--c-quote-border-s) var(--c-quote-border-l));
    color-scheme: dark;
  }
}
*,
:after,
:before {
  box-sizing: border-box;
}
* {
  border: 0 solid transparent;
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100vh;
}
h1,
p {
  overflow-wrap: break-word;
}
h1 {
  font-size: inherit;
  font-weight: inherit;
}
ul[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
button,
input,
select {
  color: inherit;
  font: inherit;
  line-height: inherit;
}
[type='search'],
[type='text'],
[type='url'],
select {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
}
[type='search']:focus,
[type='text']:focus,
[type='url']:focus,
select:focus {
  outline: 0;
}
[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
}
[type='checkbox']:focus {
  outline: 0;
}
::-moz-placeholder {
  opacity: 1;
}
a {
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  cursor: pointer;
  text-decoration: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  :after,
  :before {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
::selection {
  background: #0dbf9b;
  background: var(--accent-5, #0dbf9b);
  color: #fff;
}
body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
    BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
}
pre {
  background-color: #171717;
  background-color: var(--c-code-bg);
  border-radius: 0.25rem;
  color: #f5f5f5;
  color: var(--c-code-text);
  overflow-x: auto;
  padding: max(0.75rem, min(5%, 1.5rem));
  padding: max(var(--koi-spacing-min, 0.75rem), min(var(--koi-spacing-value, 5%), var(--koi-spacing-max, 1.5rem)));
}
code,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 0.875rem;
}
blockquote {
  border-left-color: #089b80;
  border-left-color: var(--c-quote-border);
  border-left-width: 0.25rem;
  color: #262626;
  color: var(--c-quote-text);
  font-style: italic;
  font-weight: 500;
  margin-bottom: 1.6em;
  margin-top: 1.6em;
  padding-left: 1em;
}
blockquote p {
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}
blockquote p:first-of-type:before {
  content: open-quote;
}
blockquote p:last-of-type:after {
  content: close-quote;
}
a {
  border-bottom: 1px solid #0dbf9b;
  border-bottom: 1px solid var(--accent-5, #0dbf9b);
  color: #171717;
  color: var(--c-text-1);
  font-weight: 500;
  text-decoration: none;
  transition: all 50ms linear;
}
a:hover {
  border-bottom-width: 2px;
}
[type='search'],
[type='text'],
[type='url'],
select {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5em 0.75em;
}
[type='checkbox'] {
  height: 1em;
  width: 1em;
}
[type='checkbox']:checked {
  background-color: currentColor;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-color: transparent;
}
[type='checkbox']:checked {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3E%3C/svg%3E");
}
select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23737373' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6' /%3E%3C/svg%3E");
  background-position: right 0.75em center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
}
:root {
  --anim-blink: blink 1s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
  --anim-bounce: bounce 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
  --anim-fade-in: fade-in 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  --anim-fade-out: fade-out 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  --anim-float: float 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  --anim-ping: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
  --anim-pulse: pulse 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  --anim-spin: spin 2s linear infinite;
  --anim-ring: ring 500ms linear infinite;
  --c-white: #fff;
  --c-black: #000;
  --c-primary-0: #f0fffa;
  --c-primary-1: #c9fded;
  --c-primary-2: #94fadd;
  --c-primary-3: #56f0ca;
  --c-primary-4: #24d6af;
  --c-primary-5: #0dbf9b;
  --c-primary-6: #089b80;
  --c-primary-7: #0b7967;
  --c-primary-8: #0e6256;
  --c-primary-9: #115045;
  --c-gray-0: #fafafa;
  --c-gray-1: #f5f5f5;
  --c-gray-2: #e6e6e6;
  --c-gray-3: #d4d4d4;
  --c-gray-4: #a3a3a3;
  --c-gray-5: #737373;
  --c-gray-6: #525252;
  --c-gray-7: #404040;
  --c-gray-8: #262626;
  --c-gray-9: #171717;
  --c-red-0: #fef1f1;
  --c-red-1: #fee1e1;
  --c-red-2: #fec8c8;
  --c-red-3: #fca6a6;
  --c-red-4: #f87272;
  --c-red-5: #ef4343;
  --c-red-6: #dc2828;
  --c-red-7: #ba1c1c;
  --c-red-8: #981b1b;
  --c-red-9: #811d1d;
  --c-yellow-0: #fefce7;
  --c-yellow-1: #fef9c3;
  --c-yellow-2: #fef08b;
  --c-yellow-3: #fddf49;
  --c-yellow-4: #facc14;
  --c-yellow-5: #fbe8b0;
  --c-yellow-6: #c88a04;
  --c-yellow-7: #a26107;
  --c-yellow-8: #864e0e;
  --c-yellow-9: #733f12;
  --c-green-0: #f3fcf5;
  --c-green-1: #defce9;
  --c-green-2: #bbf7d0;
  --c-green-3: #85efac;
  --c-green-4: #4ade80;
  --c-green-5: #21c45d;
  --c-green-6: #16a249;
  --c-green-7: #157f3c;
  --c-green-8: #166434;
  --c-green-9: #14522d;
  --c-blue-0: #f0f6ff;
  --c-blue-1: #dcebfe;
  --c-blue-2: #bedbfe;
  --c-blue-3: #91c3fd;
  --c-blue-4: #61a6fa;
  --c-blue-5: #3c83f6;
  --c-blue-6: #2463eb;
  --c-blue-7: #1d4fd7;
  --c-blue-8: #1e3fae;
  --c-blue-9: #1e3b8a;
}
:root {
  --duration-ultra-fast: 25ms;
  --duration-super-fast: 50ms;
  --duration-fastest: 75ms;
  --duration-faster: 100ms;
  --duration-fast: 150ms;
  --duration-normal: 200ms;
  --duration-slow: 300ms;
  --duration-slower: 500ms;
  --duration-slowest: 600ms;
  --duration-super-slow: 800ms;
  --duration-ultra-slow: 1200ms;
  --duration-1: 1s;
  --duration-2: 2s;
  --duration-3: 3s;
  --duration-4: 4s;
  --duration-5: 5s;
  --duration-25: 25ms;
  --duration-50: 50ms;
  --duration-75: 75ms;
  --duration-100: 100ms;
  --duration-150: 150ms;
  --duration-200: 200ms;
  --duration-300: 300ms;
  --duration-500: 500ms;
  --duration-700: 700ms;
  --duration-1000: 1000ms;
  --shadow-xs: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);
  --shadow-solid: 0 0 0 2px currentColor;
  --shadow-none: 0 0 transparent;
  --linear: linear;
  --ease: cubic-bezier(0.25, 0.1, 0.25, 1);
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-elastic: cubic-bezier(0.5, 1, 0.75, 1.25);
}
@-webkit-keyframes blink {
  0%,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
@keyframes blink {
  0%,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes bounce {
  0%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  50% {
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce {
  0%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  50% {
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-in {
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes float {
  50% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
}
@keyframes float {
  50% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
}
@-webkit-keyframes ping {
  75%,
  to {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}
@keyframes ping {
  75%,
  to {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}
@-webkit-keyframes pulse {
  0%,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
@keyframes pulse {
  0%,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes ring {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes ring {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
body {
  background-color: #fafafa;
  background-color: var(--c-surface-1);
  color: #171717;
  color: var(--c-text-1);
}
h1 {
  color: #0dbf9b;
  color: var(--accent-5, #0dbf9b);
  font-family: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.wrapper {
  background-color: #fff;
  background-color: var(--c-surface-2);
  border: 2px solid #525252;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  -webkit-hyphens: auto;
  hyphens: auto;
  margin-bottom: max(0.75rem, min(5%, 1.5rem));
  margin-bottom: max(
    var(--koi-spacing-min, 0.75rem),
    min(var(--koi-spacing-value, 5%), var(--koi-spacing-max, 1.5rem))
  );
  margin-top: max(0.75rem, min(5%, 1.5rem));
  margin-top: max(var(--koi-spacing-min, 0.75rem), min(var(--koi-spacing-value, 5%), var(--koi-spacing-max, 1.5rem)));
  padding: max(0.75rem, min(5%, 1.5rem));
  padding: max(var(--koi-spacing-min, 0.75rem), min(var(--koi-spacing-value, 5%), var(--koi-spacing-max, 1.5rem)));
  width: 100%;
  word-break: break-word;
}
.wrapper:hover {
  background-color: #f5f5f5;
  background-color: var(--c-surface-3);
  border-color: #0dbf9b;
  border-color: var(--accent-5, #0dbf9b);
}
.btn {
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #e6e6e6;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  color: #404040;
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
}
.btn:hover {
  background-color: #737373;
}
.btn:focus {
  outline: none;
}
.loader-1 {
  -webkit-animation: loader-1-rotate 0.5s linear infinite;
  animation: loader-1-rotate 0.5s linear infinite;
  border: 2px solid;
  border-color: #ccc #ccc transparent;
  border-radius: 50%;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}
@-webkit-keyframes loader-1-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes loader-1-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.loader-2 {
  -webkit-animation: loader-2-rotate 1s linear infinite;
  animation: loader-2-rotate 1s linear infinite;
  border: 4px solid #fff;
  border-bottom: 4px solid var(--accent-6, #089b80);
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  width: 48px;
}
@-webkit-keyframes loader-2-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes loader-2-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.loader-3 {
  -webkit-animation: loader-3-rotate 1s linear infinite;
  animation: loader-3-rotate 1s linear infinite;
  border-radius: 50%;
  height: 48px;
  position: relative;
  width: 48px;
}
.loader-3:after,
.loader-3:before {
  -webkit-animation: loader-3-prixClipFix 2s linear infinite;
  animation: loader-3-prixClipFix 2s linear infinite;
  border: 4px solid #fff;
  border-radius: 50%;
  bottom: 0;
  box-sizing: border-box;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.loader-3:after {
  border-color: #089b80;
  border-color: var(--accent-6, #089b80);
  -webkit-transform: rotate3d(90, 90, 0, 180deg);
  transform: rotate3d(90, 90, 0, 180deg);
}
@-webkit-keyframes loader-3-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes loader-3-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes loader-3-prixClipFix {
  0% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  to {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
@keyframes loader-3-prixClipFix {
  0% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  to {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
.loader-4 {
  -webkit-animation: loader-4-rotate 1s linear infinite;
  animation: loader-4-rotate 1s linear infinite;
  border: 3px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  position: relative;
  width: 48px;
}
.loader-4:after {
  border: 3px solid transparent;
  border-bottom: 3px solid var(--accent-6, #089b80);
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  height: 40px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
}
@-webkit-keyframes loader-4-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes loader-4-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.loader-5 {
  -webkit-animation: loader-5-rotate 1s linear infinite;
  animation: loader-5-rotate 1s linear infinite;
  border: 3px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  position: relative;
  width: 48px;
}
.loader-5:after {
  border: 3px solid transparent;
  border-bottom: 3px solid var(--accent-6, #089b80);
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  height: 56px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 56px;
}
@-webkit-keyframes loader-5-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes loader-5-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.loader-6 {
  -webkit-animation: loader-6-rotate 1s linear infinite;
  animation: loader-6-rotate 1s linear infinite;
  border: 3px solid #fff;
  display: inline-block;
  height: 48px;
  position: relative;
  width: 48px;
}
.loader-6,
.loader-6:after {
  border-radius: 50%;
  box-sizing: border-box;
}
.loader-6:after {
  border-color: red transparent;
  border-style: solid;
  border-width: 3px;
  content: '';
  height: 40px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
}
@-webkit-keyframes loader-6-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes loader-6-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.loader-7 {
  -webkit-animation: loader-7-rotate 1s linear infinite;
  animation: loader-7-rotate 1s linear infinite;
  border: 3px solid #fff;
  display: inline-block;
  height: 48px;
  position: relative;
  width: 48px;
}
.loader-7,
.loader-7:after {
  border-radius: 50%;
  box-sizing: border-box;
}
.loader-7:after {
  border-color: #ff0 transparent;
  border-style: solid;
  border-width: 3px;
  content: '';
  height: 56px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 56px;
}
@-webkit-keyframes loader-7-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes loader-7-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.loader-8 {
  display: inline-block;
  height: 48px;
  position: relative;
  width: 48px;
}
.loader-8:after,
.loader-8:before {
  -webkit-animation: loader-8-anim 2s linear infinite;
  animation: loader-8-anim 2s linear infinite;
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}
.loader-8:after {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes loader-8-anim {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes loader-8-anim {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.loader-9 {
  -webkit-animation: loader-9-anim 1s linear infinite alternate;
  animation: loader-9-anim 1s linear infinite alternate;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  display: block;
  height: 10px;
  margin: 10px auto;
  position: relative;
  width: 10px;
}
@-webkit-keyframes loader-9-anim {
  0% {
    box-shadow: -30px -6px, -10px 6px, 10px -6px;
  }
  33% {
    box-shadow: -30px 6px, -10px -6px, 10px 6px;
  }
  66% {
    box-shadow: -30px -6px, -10px 6px, 10px -6px;
  }
  to {
    box-shadow: -30px 6px, -10px -6px, 10px 6px;
  }
}
@keyframes loader-9-anim {
  0% {
    box-shadow: -30px -6px, -10px 6px, 10px -6px;
  }
  33% {
    box-shadow: -30px 6px, -10px -6px, 10px 6px;
  }
  66% {
    box-shadow: -30px -6px, -10px 6px, 10px -6px;
  }
  to {
    box-shadow: -30px 6px, -10px -6px, 10px 6px;
  }
}
.columns-2 {
  -webkit-column-count: 2;
  column-count: 2;
}
.block {
  display: block;
}
.hidden {
  display: none;
}
.container {
  width: 100%;
}
@media screen and (min-width: 0px) and (min-width: 240px) {
  .container {
    max-width: 240px;
  }
}
@media screen and (min-width: 0px) and (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}
@media screen and (min-width: 0px) and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 0px) and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 0px) and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 0px) and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
@media screen and (min-width: 0px) and (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}
.centered {
  align-content: center;
  display: grid;
  justify-content: center;
  place-content: center;
}
.stack-x {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.stack-x > * {
  margin-bottom: 0;
  margin-top: 0;
}
.stack-x > * + * {
  margin-left: 1rem;
  margin-left: var(--koi-spacer, 1rem);
  margin-right: 0;
}
.stack-x-reverse {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.stack-x-reverse > * {
  margin-bottom: 0;
  margin-top: 0;
}
.stack-x-reverse > * + * {
  margin-left: 0;
  margin-right: 1rem;
  margin-right: var(--koi-spacer, 1rem);
}
.stack-y {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.stack-y > * {
  margin-left: 0;
  margin-right: 0;
}
.stack-y > * + * {
  margin-bottom: 0;
  margin-top: 1rem;
  margin-top: var(--koi-spacer, 1rem);
}
.stack-y-reverse {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}
.stack-y-reverse > * {
  margin-left: 0;
  margin-right: 0;
}
.stack-y-reverse > * + * {
  margin-bottom: 1rem;
  margin-bottom: var(--koi-spacer, 1rem);
  margin-top: 0;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.p-32 {
  padding: 2rem;
}
