// --------------------------------
//   Theme internal helpers
// --------------------------------

@use 'sass:map';

@use '../config' as *;
@use '../config/internal' as *;
@use '../generators/props' as *;

// --------------------------------
//   Mixins
// --------------------------------

// Color Schemes

@mixin generate-scheme-css-vars($colors-map: (), $color-scheme: null, $suffix: null) {
  /*! purgecss start ignore */
  @include generate-css-color-vars($colors-map, $color-prefix, $color-scheme);
  /*! purgecss end ignore */
}

@mixin default-theme($color-schemes-map, $color-scheme: config(default-color-scheme)) {
  html {
    $color-scheme: light;
    @include generate-scheme-css-vars(map.get($color-schemes-map, $color-scheme));
  }
}

// Output color vars for each color-scheme
@mixin create-themes($color-schemes-map) {
  @include default-theme($color-schemes-map);

  @each $color-scheme, $color in $color-schemes-map {
    // Generate color scheme colors (dark, light, ...)
    html {
      @include generate-scheme-css-vars($color, $color-scheme);
    }

    @media (prefers-color-scheme: $color-scheme) {
      html {
        @include generate-scheme-css-vars(map.get($color-schemes-map, $color-scheme));
        color-scheme: $color-scheme;
      }
    }

    [color-scheme='#{$color-scheme}'],
    [data-theme='#{$color-scheme}'] {
      @include generate-scheme-css-vars(map.get($color-schemes-map, $color-scheme));
      color-scheme: $color-scheme;
    }
  }
}

// Match color scheme mode
@mixin color-mode($color-scheme: light) {
  @media (prefers-color-scheme: $color-scheme) {
    @at-root #{selector.nest(':root:not([data-theme=light]):not([color-scheme=light]):not([color-scheme=dark]):not([data-theme=dark])', &)} {
      @content;
    }
  }

  @at-root #{selector.nest(':root[data-theme=#{$color-scheme}], :root[color-scheme=#{$color-scheme}]', &)} {
    @content;
  }
}

// Matches data-theme="light" or data-theme="auto"
@mixin light() {
  @include color-mode(light) {
    @content;
  }
}

// Matches data-theme="dark" or data-theme="auto"
@mixin dark() {
  @include color-mode(dark) {
    @content;
  }
}
