// --------------------------------
//   Theme internal helpers
// --------------------------------

@use 'sass:map';

@use '../config' as *;
@use '../config/internal' as *;
@use '../core/helpers/internal' as *;

// --------------------------------
//   Mixins
// --------------------------------

// Color Schemes

@mixin generate-scheme-css-vars($colors-map: (), $color-scheme: null, $suffix: null) {
  /*! purgecss start ignore */
  @each $color, $value in $colors-map {
    @include hsl-color-custom-prop(#{$color-prefix}-#{$color}, $color-scheme, $value, $suffix);
  }
  /*! purgecss end ignore */
}

@mixin default-theme($color-schemes-map, $color-scheme: config(default-color-scheme)) {
  html {
    $color-scheme: light;
    @include generate-scheme-css-vars(map.get($color-schemes-map, $color-scheme));
  }
}

// Output color vars for each color-scheme
@mixin create-themes($color-schemes-map) {
  @include default-theme($color-schemes-map);

  @each $color-scheme, $color in $color-schemes-map {
    // Generate color scheme colors (dark, light, ...)
    html {
      @include generate-scheme-css-vars($color, $color-scheme);
    }

    @media (prefers-color-scheme: $color-scheme) {
      html {
        @include generate-scheme-css-vars(map.get($color-schemes-map, $color-scheme));
        color-scheme: $color-scheme;
      }
    }

    [color-scheme='#{$color-scheme}'],
    [data-theme='#{$color-scheme}'] {
      @include generate-scheme-css-vars(map.get($color-schemes-map, $color-scheme));
      color-scheme: $color-scheme;
    }
  }
}
