// --------------------------------------
//   Theming (dark, light theme colors)
// --------------------------------------

@use 'sass:map';

@use '../core/api/config' as *;
@use '../core/generators/vars' as *;
@use 'tokens' as *;
@use 'colors' as *;

$default-theme: map.deep-merge(
  (
    color-schemes: $color-schemes,
  ),
  $tokens
);

$theme: () !default;
$theme: map.deep-merge($default-theme, $theme);

// --------------------------------
//   Mixins
// --------------------------------

@mixin default-theme($color-schemes-map, $color-scheme: config(default-color-scheme)) {
  html {
    $color-scheme: light;
    @include generate-color-scheme-css-vars(map.get($color-schemes-map, $color-scheme));
  }
}

// Output color vars for each color-scheme
@mixin create-themes($color-schemes-map) {
  @include default-theme($color-schemes-map);

  @each $color-scheme, $color in $color-schemes-map {
    // Generate color scheme colors (dark, light, ...)
    html {
      @include generate-color-scheme-css-vars($color, $color-scheme);
    }

    @media (prefers-color-scheme: $color-scheme) {
      :root {
        @include generate-color-scheme-css-vars(map.get($color-schemes, $color-scheme));
        color-scheme: $color-scheme;
      }
    }

    [color-scheme='#{$color-scheme}'],
    [data-theme='#{$color-scheme}'] {
      @include generate-color-scheme-css-vars(map.get($color-schemes, $color-scheme));
      color-scheme: $color-scheme;
    }
  }
}

// Outputs color schemes (light dark, ...)
@mixin theming-vars {
  @include create-themes($color-schemes);
}
