// --------------------------------------
//   Theme Map Generation (vars)
// --------------------------------------

@use 'sass:map';

@use '../tokens' as *;
@use 'color' as *;

// ---- Colors ----

// TODO: Generate primary, secondary and neutral shades from base color
$colors: (
  // primary: create-theme-color(#dc2626),
  // secondary: create-theme-color(#7c3aed),
  // neutral: create-theme-color(#2e3235),
  white: map.get($colors, white),
  black: map.get($colors, black),
  gray: map.get($colors, gray),
  success: map.get($colors, green),
  info: map.get($colors, blue),
  warning: map.get($colors, yellow),
  danger: map.get($colors, red)
);

// ---- Theme ----

$default-theme: (
  aspect: $aspect,
  blur: $blur,
  radius: $radius,
  delay: $delay,
  duration: $duration,
  keyframes: $keyframes,
  layer: $layer,
  opacity: $opacity,
  screens: $screens,
  shadow: $shadow,
  spacing: $spacing,
  sizes: $sizes,
  timing: $timing,
  font-family: $font-family,
  font-size: $font-size,
  font-weight: $font-weight,
  leading: $leading,
  tracking: $tracking,
  colors: $colors,
  gradients: $gradients,
);

$theme: () !default;
$theme: map.deep-merge($default-theme, $theme);
