// --------------------------------
//   Alert Component
// --------------------------------

@use '../config';
@use '../api' as *;

// --------------------------------
//   Vars
// --------------------------------

$class: '.alert';
$ignored-selectors: 'img, h2, h3, h4, h5, h6, #{$class}__header, #{$class}__footer';

// Defaults
$spacing-x: spacing(14);
$spacing-y: spacing(16);

$font-size: font-size(sm);
$font-weight: font(normal);
$text-leading: text-leading(sm);

$border-width: 1px;
$border-radius: radius(config.default(radius));

$icon-size: 20px;

// --------------------------------
//   Mixins
// --------------------------------

@mixin default {
  @include box(
    $background: var(--um-alert-background, fill(cnt, 0)),
    $foreground: var(--um-alert-foreground, fill(cnt, 7)),
    $rounded: $border-radius
  );
  @include transition((color background-color border-color transform));

  border-color: var(--um-alert-border-color, transparent);
  border-width: var(--um-alert-border-width, $border-width);
  box-shadow: var(--um-alert-shadow, none);
  display: flex;
  font-size: var(--um-alert-font-size, $font-size);
  font-weight: var(--um-alert-font-weight, $font-weight);
  gap: var(--um-alert-gap, $spacing-y);
  justify-content: space-between;
  line-height: var(--um-alert-leading, $text-leading);
  opacity: var(--um-alert-opacity, 1);
  padding: $spacing-y $spacing-x;
  position: relative;

  &__icon {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: $icon-size;
    justify-content: flex-start;
    width: $icon-size;
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__header,
  &__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__header {
    color: var(--um-alert-header-foreground, fill(cnt, 9));
    font-weight: font(bold);
    padding-right: calc(1.5 * $spacing-x);
  }

  &__header:has(&__title) {
    margin-bottom: spacing(8);
  }

  &__button {
    position: absolute;
    right: $spacing-x;
    @include layer(above);

    .btn {
      height: $icon-size;
      width: $icon-size;
    }
  }

  &:has(&__button) {
    #{$class}__body {
      padding-right: calc(2 * $spacing-x);
    }
  }

  @include dark-mode {
    --um-alert-background: #{fill(cnt, 2, $lightness: -10%)};
  }

  @include color-variant(accent) {
    --um-alert-background: #{accent(0)};
    --um-alert-header-foreground: #{accent(6)};

    #{$class}__icon {
      color: accent(6);
    }

    @include dark-mode {
      --um-alert-background: #{accent(8, $alpha: 0.25, $lightness: -15%)};
      --um-alert-header-foreground: #{accent(5)};

      #{$class}__icon {
        color: accent(5);
      }
    }
  }

  @each $color in config.$enabled-color-variants {
    @include color-variant($color) {
      --um-alert-background: #{fill($color, 0)};
      --um-alert-header-foreground: #{fill($color, 6)};

      #{$class}__icon {
        color: fill($color, 6);
      }

      @include dark-mode {
        --um-alert-background: #{fill($color, 8, $alpha: 0.25, $lightness: -15%)};
        --um-alert-header-foreground: #{fill($color, 5)};

        #{$class}__icon {
          color: fill($color, 5);
        }
      }
    }
  }
}

// ---- Variants ----

@mixin color-variant($color) {
  &#{$class}--#{$color} {
    @content;
  }
}

@mixin solid {
  --um-alert-background: #{fill(cnt, 9)};
  --um-alert-foreground: #{fill(cnt, 0)};
  --um-alert-header-foreground: #{fill(cnt, 0)};

  @include dark-mode {
    --um-alert-background: #{fill(cnt, 9)};
    --um-alert-foreground: #{fill(cnt, 0)};
    --um-alert-header-foreground: #{fill(cnt, 0)};
  }

  @include color-variant(accent) {
    --um-alert-background: #{accent(6)};
    --um-alert-header-foreground: #{fill(white)};

    #{$class}__icon {
      color: fill(white);
    }

    @include dark-mode {
      --um-alert-background: #{accent(6)};
      --um-alert-foreground: #{fill(white)};
      --um-alert-header-foreground: #{fill(white)};

      #{$class}__icon {
        color: fill(white);
      }
    }
  }

  @each $color in config.$enabled-color-variants {
    @include color-variant($color) {
      --um-alert-background: #{fill($color, 6)};
      --um-alert-header-foreground: #{fill(white)};

      #{$class}__icon {
        color: fill(white);
      }

      @include dark-mode {
        --um-alert-background: #{fill($color, 6)};
        --um-alert-foreground: #{fill(white)};
        --um-alert-header-foreground: #{fill(white)};

        #{$class}__icon {
          color: fill(white);
        }
      }
    }
  }
}

@mixin outline {
  --um-alert-background: transparent;
  --um-alert-foreground: #{fill(cnt, 8)};
  --um-alert-header-foreground: #{fill(cnt, 8)};
  --um-alert-border-color: #{fill(cnt, 6)};

  @include dark-mode {
    --um-alert-background: transparent;
  }

  @include color-variant(accent) {
    --um-alert-background: transparent;
    --um-alert-header-foreground: #{accent(6)};
    --um-alert-border-color: #{accent(6)};

    #{$class}__icon {
      color: accent(6);
    }

    @include dark-mode {
      --um-alert-background: transparent;
      --um-alert-header-foreground: #{accent(6)};
      --um-alert-border-color: #{accent(6)};
    }
  }

  @each $color in config.$enabled-color-variants {
    @include color-variant($color) {
      --um-alert-background: transparent;
      --um-alert-header-foreground: #{fill($color, 6)};
      --um-alert-border-color: #{fill($color, 6)};

      #{$class}__icon {
        color: fill($color, 6);
      }

      @include dark-mode {
        --um-alert-background: transparent;
        --um-alert-header-foreground: #{fill($color, 6)};
        --um-alert-border-color: #{fill($color, 6)};

        #{$class}__icon {
          color: fill($color, 6);
        }
      }
    }
  }
}

// --------------------------------
//   Styles
// --------------------------------

@mixin styles {
  #{$class} {
    @include default;

    &--solid {
      @include solid;
    }

    &--outline {
      @include outline;
    }
  }
}
