// --------------------------------
//   Avatar Component
// --------------------------------

@use 'sass:math';

@use '../config';
@use '../api' as *;

// --------------------------------
//   Vars
// --------------------------------

$class: '.avatar';

// Defaults
$size: 64px;

// --------------------------------
//   Mixins
// --------------------------------

@mixin avatar {
  border-color: var(--koi-avatar-border-color, transparent);
  border-width: var(--koi-avatar-border-width, 2px);
  position: relative;

  &__content {
    align-items: center;
    border-radius: radius(full);
    display: flex;
    height: var(--koi-avatar-size, $size);
    justify-content: center;
    width: var(--koi-avatar-size, $size);
  }
}

@mixin placeholder {
  align-items: center;
  background-color: fill(cnt, 8);
  border-radius: radius(full);
  color: fill(cnt, 0);
  display: flex;
  font-size: font(xl);
  font-weight: font(semibold);
  justify-content: center;
  opacity: 0.95;
}

@mixin status {
  @include position-variants($class, 7%, true);
  @include outline-shadow(fill(srf, 1));
  background-color: fill(srf, 4);
  border-radius: radius(full);
  content: '';
  display: block;
  height: 15%;
  position: absolute;
  width: 15%;
  z-index: layer(above);
}

@mixin offline {
  &::before {
    @include status;
  }
}

@mixin online {
  &::before {
    @include status;
    background-color: fill(success, 5);
  }
}

@mixin group {
  @include spacer($spacer: math.div($size, -2));
  display: flex;
  overflow: hidden;

  #{$class} {
    --koi-avatar-border-color: #{fill(srf, 1)};

    border-radius: radius(full);
    overflow: hidden;
  }
}

// --------------------------------
//   Styles
// --------------------------------

@mixin styles {
  #{$class} {
    @include avatar;

    &--placeholder {
      @include placeholder;
    }

    &--online {
      @include online;
    }
  }

  // Avatar Group
  #{$class}-group {
    @include group;
  }
}
