// --------------------------------
//   Avatar Component
// --------------------------------

@use 'sass:math';

@use '../config';
@use '../api' as *;

// --------------------------------
//   Vars
// --------------------------------

$class: '.avatar';

// Defaults
$size: 64px;

// --------------------------------
//   Mixins
// --------------------------------

@mixin avatar {
  border-color: var(--koi-avatar-border-color, transparent);
  border-width: var(--koi-avatar-border-width, 2px);
  position: relative;

  &__content {
    align-items: center;
    border-radius: radius(full);
    display: flex;
    height: var(--koi-avatar-size, $size);
    justify-content: center;
    width: var(--koi-avatar-size, $size);

    &--placeholder {
      @include placeholder;
    }
  }
}

@mixin placeholder {
  align-items: center;
  background-color: fill(cnt, 8);
  border-radius: radius(full);
  color: fill(cnt, 0);
  display: flex;
  font-size: font(xl);
  font-weight: font(semibold);
  justify-content: center;
  opacity: 0.95;
}

@mixin status {
  &::before {
    @include position-variants('#{$class}--status', $value: 7%, $is-circle: true, $suffix: '::before');
    @include outline-shadow(fill(srf, 1));
    background-color: fill(srf, 3);
    border-radius: radius(full);
    content: '';
    display: block;
    height: 15%;
    position: absolute;
    right: 7%;
    top: 7%;
    width: 15%;
    z-index: layer(above);
  }

  &--info {
    &::before {
      background-color: fill(info, 6);
    }
  }

  &--success {
    &::before {
      background-color: fill(success, 5);
    }
  }

  &--warning {
    &::before {
      background-color: fill(warning, 5);
    }
  }

  &--danger {
    &::before {
      background-color: fill(danger, 5);
    }
  }
}

@mixin group {
  @include spacer($spacer: math.div($size, -2));
  display: flex;
  overflow: hidden;

  #{$class} {
    --koi-avatar-border-color: #{fill(srf, 1)};

    border-radius: radius(full);
    overflow: hidden;
  }
}

// --------------------------------
//   Styles
// --------------------------------

@mixin styles {
  #{$class} {
    @include avatar;

    &--status {
      @include status;
    }
  }

  // Avatar Group
  #{$class}-group {
    @include group;
  }
}
