// --------------------------------
//   Badge Component
// --------------------------------

@use '../config';
@use '../api' as *;
@use 'button';

// --------------------------------
//   Vars
// --------------------------------

$class: '.badge';

// Defaults
$height: 20px;
$height-small: 16px;
$height-large: 24px;

$font-size: font(xs);
$font-size-small: font(2xs);
$font-size-large: font(sm);
$leading: text-leading(xs);
$leading-small: text-leading(2xs);
$leading-large: text-leading(sm);
$tracking: tracking(wide);

$border-radius: radius(full);
$border-width: 1px;

$padding-x: 11px;
$padding-x-small: spacing(8);
$padding-x-large: spacing(14);

// --------------------------------
//   Mixins
// --------------------------------

@mixin default {
  @include transition((color, background-color, border-color, transform));

  align-items: center;
  background-color: var(--koi-badge-background, fill(cnt, 1));
  border-color: var(--koi-badge-border-color, transparent);
  border-radius: var(--koi-badge-border-radius, $border-radius);
  border-style: var(--koi-badge-border-style, solid);
  border-width: var(--koi-badge-border-width, $border-width);
  color: var(--koi-badge-foreground, fill(cnt, 6));
  display: inline-flex;
  flex-grow: 0;
  font-size: var(--koi-badge-font-size, $font-size);
  font-weight: var(--koi-badge-font-weight, font(semibold));
  height: var(--koi-badge-height, $height);
  justify-content: center;
  letter-spacing: var(--koi-badge-tracking, $tracking);
  line-height: var(--koi-badge-leading, $leading);
  overflow: hidden;
  padding: 0 var(--koi-badge-padding-x, $padding-x);
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: var(--koi-badge-text-transform, uppercase);

  @include dark-mode {
    --koi-badge-background: #{fill(cnt, 2)};
  }

  // Color variants
  @include color-variant(accent) {
    --koi-badge-background: #{accent(1)};
    --koi-badge-foreground: #{accent(8)};

    @include dark-mode {
      --koi-badge-background: #{accent(8, $alpha: 0.5, $lightness: -50%)};
      --koi-badge-foreground: #{accent(5)};
    }
  }

  @each $color in config.$enabled-color-variants {
    @include color-variant($color) {
      --koi-badge-background: #{fill($color, 1)};
      --koi-badge-foreground: #{fill($color, 8)};

      @include dark-mode {
        --koi-badge-background: #{fill($color, 8, $alpha: 0.5, $lightness: -50%)};
        --koi-badge-foreground: #{fill($color, 5)};
      }
    }
  }
}

// ---- Variants ----

// Color variant selector
@mixin color-variant($color) {
  &#{$class}--#{$color} {
    @content;
  }
}

@mixin solid {
  --koi-badge-background: #{fill(cnt, 9)};
  --koi-badge-border-color: transparent;
  --koi-badge-foreground: #{fill(cnt, 1)};

  @include dark-mode {
    --koi-badge-background: #{fill(cnt, 9)};
  }

  // Color variants
  @include color-variant(accent) {
    --koi-badge-background: #{accent(6)};
    --koi-badge-foreground: #{fill(white)};

    @include dark-mode {
      --koi-badge-background: #{accent(6)};
      --koi-badge-foreground: #{fill(white)};
    }
  }

  @each $color in config.$enabled-color-variants {
    @include color-variant($color) {
      --koi-badge-background: #{fill($color, 6)};
      --koi-badge-foreground: #{fill(white)};

      @include dark-mode {
        --koi-badge-background: #{fill($color, 6)};
        --koi-badge-foreground: #{fill(white)};
      }
    }
  }
}

@mixin outline {
  --koi-badge-background: transparent;
  --koi-badge-border-color: #{fill(cnt, 6)};
  --koi-badge-foreground: #{fill(cnt, 8)};

  @include dark-mode {
    --koi-badge-background: transparent;
  }

  // Color variants
  @include color-variant(accent) {
    --koi-badge-background: transparent;
    --koi-badge-border-color: #{accent(6)};
    --koi-badge-foreground: #{accent(7)};

    @include dark-mode {
      --koi-badge-background: transparent;
    }
  }

  @each $color in config.$enabled-color-variants {
    @include color-variant($color) {
      --koi-badge-background: transparent;
      --koi-badge-border-color: #{fill($color, 6)};
      --koi-badge-foreground: #{fill($color, 7)};

      @include dark-mode {
        --koi-badge-background: transparent;
      }
    }
  }
}

@mixin status {
  --koi-badge-background: transparent;
  --koi-badge-border-color: #{fill(cnt, 2)};
  --koi-badge-foreground: #{fill(cnt, 8)};

  @include dark-mode {
    --koi-badge-background: transparent;
  }

  &::before {
    background-color: fill(cnt, 5);
    border-radius: 6px;
    content: '';
    display: block;
    height: 6px;
    margin-right: 6px;
    width: 6px;
  }

  // Color variants
  @include color-variant(accent) {
    --koi-badge-background: transparent;
    --koi-badge-foreground: #{fill(txt, 1)};

    &::before {
      background-color: accent(5);
    }

    @include dark-mode {
      --koi-badge-background: transparent;
    }
  }

  @each $color in config.$enabled-color-variants {
    @include color-variant($color) {
      --koi-badge-background: transparent;
      --koi-badge-foreground: #{fill(txt, 1)};

      &::before {
        background-color: fill($color, 5);
      }

      @include dark-mode {
        --koi-badge-background: transparent;
      }
    }
  }
}

@mixin dot {
  border-radius: radius(full);
  height: var(--koi-badge-height, $height-small);
  padding: 0;
  width: var(--koi-badge-height, $height-small);
}

@mixin group {
  $gap: 2px;

  align-items: center;
  display: inline-flex;
  justify-content: center;

  position: relative;

  #{button.$class} {
    box-shadow: none;
    height: spacing(16);
    width: spacing(16);

    &:hover,
    &:focus {
      box-shadow: none;
    }
  }

  *:last-child.btn {
    margin-left: 4px;
    margin-right: -$padding-x + $gap;
  }

  *:first-child.btn {
    margin-left: -$padding-x + $gap;
    margin-right: 4px;
  }
}

// ---- Modifiers ----

@mixin small {
  font-size: var(--koi-badge-font-size-small, $font-size-small);
  height: var(--koi-badge-height-small, $height-small);
  line-height: var(--koi-badge-leading-small, $leading-small);
  padding: 0 var(--koi-badge-padding-x-small, $padding-x-small);
}

@mixin large {
  font-size: var(--koi-badge-font-size-large, $font-size-large);
  height: var(--koi-badge-height-large, $height-large);
  line-height: var(--koi-badge-leading-large, $leading-large);
  padding: 0 var(--koi-badge-padding-x-large, $padding-x-large);
}

// Makes the badge full width
@mixin block {
  justify-content: center;
  width: 100%;
}

// --------------------------------
//   Styles
// --------------------------------

@mixin styles {
  #{$class} {
    @include default;

    &--solid {
      @include solid;
    }

    &--outline {
      @include outline;
    }

    &--status {
      @include status;
    }

    &--dot {
      @include dot;
    }

    &--small {
      @include small;
    }

    &--large {
      @include large;
    }

    &--block {
      @include block;
    }

    // Badge Group
    &#{$class}--group {
      @include group;
    }
  }
}
