// --------------------------------
//   Button Components
// --------------------------------

@use 'sass:selector';

@use '../api' as *;

// --------------------------------
//   Vars
// --------------------------------

$class: '.btn';

$selectors: selector.parse(
  "#{$class}, a#{$class}, [type='button']#{$class}, [type='submit']#{$class}, [type='reset']#{$class}"
);

// Theming
$border-radius: radius(lg) !default;
$font-size: font(sm) !default;
$font-weight: font(semibold) !default;
$leading: text-leading(sm) !default;
$padding-x: spacing(16) !default;
$padding-y: spacing(8) !default;
$shadow: shadow(xs) !default;
$tracking: tracking(wide) !default;
$text-transform: capitalize !default;

// --------------------------------
//   Mixins
// --------------------------------

// Button focus mixin to had a focus ring
@mixin focus($color: fill(contrast, 1), $offset-color: fill(surface, 1)) {
  &:focus-visible {
    @include ring($color: $color, $offset-color: $offset-color);
  }
}

@mixin reset {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: fill(black);
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  padding: 0;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;

  &:focus {
    outline: none;
  }
}

@mixin base {
  @include focus;
  @include transition((color, background-color, border-color, transform));

  align-items: var(--koi-btn-align-items, center);
  background-color: var(--koi-btn-background, fill(surface, 2));
  border-color: var(--koi-btn-border-color, fill(border, 2));
  border-radius: var(--koi-btn-border-radius, $border-radius);
  border-style: var(--koi-btn-border-style, solid);
  border-width: var(--koi-btn-border-width, 1px);
  box-shadow: var(--koi-btn-shadow, $shadow);
  color: var(--koi-btn-foreground, fill(text, 2));
  display: var(--koi-btn-display, inline-flex);
  font-size: var(--koi-btn-font-size, $font-size);
  font-weight: var(--koi-btn-font-weight, $font-weight);
  gap: var(--koi-btn-gap, 1ch);
  justify-content: var(--koi-btn-justify-content, center);
  letter-spacing: var(--koi-btn-tracking, $tracking);
  line-height: var(--koi-btn-leading, $leading);
  padding: var(--koi-btn-padding-y, $padding-y) var(--koi-btn-padding-x, $padding-x);
  text-align: var(--koi-btn-text-align, center);
  text-transform: var(--koi-btn-text-case, $text-transform);

  &:hover {
    @include shadow(var(--koi-btn-shadow-hover, shadow(sm)));
    background-color: var(--koi-btn-background-hover, fill(surface, 3));
  }

  &:active {
    @include shadow(var(--koi-btn-shadow-hover, shadow(none)));
    background-color: var(--koi-btn-background-active, fill(surface, 1));
  }

  &:disabled,
  &[data-state='disabled'] {
    background-color: var(--koi-btn-background-disabled, fill(surface, 3));
    border-color: var(--btn-border-color-disabled, fill(border, 1));
    box-shadow: none;
    color: var(--koi-btn-foreground-disabled, fill(text, 3));
    cursor: not-allowed;
  }
}

@mixin dark {
  --koi-btn-background: #{fill(contrast, 1)};
  --koi-btn-background-hover: #{fill(contrast, 3)};
  --koi-btn-background-active: #{fill(contrast, 2)};
  --koi-btn-foreground: #{fill(contrast, 1, $invert: true)};
  --koi-btn-border-color: transparent;
}

// ---- Variants ----

@mixin solid {
  --koi-btn-background: #{accent(6)};
  --koi-btn-background-hover: #{accent(7)};
  --koi-btn-background-active: #{accent(5)};
  --koi-btn-border-color: transparent;
  --koi-btn-foreground: #{fill(white)};

  @include focus(accent(6));
}

// ---- Modifiers ----

// Makes the button full width
@mixin wide {
  justify-content: center;
  width: 100%;
}

// --------------------------------
//   Styles
// --------------------------------

@mixin styles {
  #{$class},
  a#{$class},
  button,
  [type='button'],
  [type='submit'],
  [type='reset'],
  [type='file'] {
    @include reset;
    @include base;
  }

  #{$selectors} {
    @include base;

    &--dark {
      @include dark;
    }

    &--solid {
      @include solid;
    }

    &--wide {
      @include wide;
    }
  }
}
