// --------------------------------
//   Button Components
// --------------------------------

@use '../config';
@use '../api' as *;

// --------------------------------
//   Vars
// --------------------------------

$class: '.btn';

// Defaults
$height: 40px;
$height-compact: 30px;

$font-size: font(sm);
$leading: text-leading(md);
$tracking: tracking(wide);

$border-radius: radius(lg);
$border-width: 2px;

$padding-x: 18px;
$padding-x-compact: 10px;
$padding-x-wide: spacing(80);

// --------------------------------
//   Mixins
// --------------------------------

@mixin pseudo($pseudo) {
  &#{$pseudo}:not(:disabled, [data-state='disabled']) {
    @content;
  }
}

@mixin hover {
  @include pseudo(':hover') {
    @content;
  }
}

@mixin focus {
  @include pseudo(':focus') {
    @content;
  }
}

@mixin active {
  @include pseudo(':active') {
    @content;
  }
}

@mixin disabled {
  &:disabled,
  &[data-state='disabled'] {
    @content;
  }
}

// Button focus mixin to had a focus ring
@mixin focus-ring($color: fill(cnt, 9)) {
  &:focus-visible {
    @include ring($color);
  }
}

// Color variant selector
@mixin color-variant($color) {
  &#{$class}--#{$color} {
    @content;
  }
}

@mixin reset {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  padding: 0;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

@mixin default {
  @include shadow(xs);
  @include focus-ring;
  @include transition((color, background-color, border-color, box-shadow, transform));

  align-items: var(--um-btn-align-items, center);
  background-color: var(--um-btn-background, fill(srf, 1));
  border-color: var(--um-btn-border-color, fill(brd, 1));
  border-radius: var(--um-btn-border-radius, $border-radius);
  border-style: var(--um-btn-border-style, solid);
  border-width: 1px;
  color: var(--um-btn-foreground, fill(txt, 1));
  display: var(--um-btn-display, inline-flex);
  font-size: var(--um-btn-font-size, $font-size);
  font-weight: var(--um-btn-font-weight, font(semibold));
  gap: var(--um-btn-gap, 1ch);
  height: var(--um-btn-height, $height);
  justify-content: var(--um-btn-justify-content, center);
  letter-spacing: var(--um-btn-tracking, $tracking);
  line-height: var(--um-btn-leading, $leading);
  padding: 0 var(--um-btn-padding-x, $padding-x);
  text-align: var(--um-btn-text-align, center);
  text-transform: var(--um-btn-text-transform, capitalize);

  @include hover {
    background-color: var(--um-btn-background-hover, fill(srf, 2));
    color: var(--um-btn-foreground-hover, fill(txt, 1));
  }

  @include active {
    @include shadow(none);

    @if config.$use-button-animation {
      transform: translateY(var(--um-btn-animation-scale, 1px));
    } @else {
      background-color: var(--um-btn-background-active, fill(srf, 1));
      color: var(--um-btn-foreground-active, fill(txt, 1));
    }
  }

  @include disabled {
    background-color: var(--um-btn-background-disabled, fill(srf, 3, $alpha: 0.4));
    border-color: var(--um-btn-border-color-disabled, transparent);
    box-shadow: none;
    color: var(--um-btn-foreground-disabled, fill(txt, 3));
    cursor: not-allowed;
  }

  @include color-variant(inverted) {
    --um-btn-background: #{fill(cnt, 9)};
    --um-btn-background-hover: #{fill(cnt, 7)};
    --um-btn-background-active: #{fill(cnt, 9)};
    --um-btn-border-color: transparent;
    --um-btn-foreground: #{fill(cnt, 0)};
    --um-btn-foreground-hover: #{fill(cnt, 1)};
    --um-btn-foreground-active: #{fill(cnt, 0)};
  }
}

// ---- Variants ----

@mixin solid {
  --um-btn-background: #{fill(cnt, 9)};
  --um-btn-background-hover: #{fill(cnt, 7)};
  --um-btn-background-active: #{fill(cnt, 9)};
  --um-btn-border-color: transparent;
  --um-btn-foreground: #{fill(cnt, 0)};
  --um-btn-foreground-hover: #{fill(cnt, 1)};
  --um-btn-foreground-active: #{fill(cnt, 0)};

  border-width: var(--um-btn-border-width, 2px);

  // Color variants
  @include color-variant(accent) {
    --um-btn-background: #{accent(6)};
    --um-btn-background-hover: #{accent(7)};
    --um-btn-background-active: #{accent(6)};
    --um-btn-foreground: #{fill(white)};
    --um-btn-foreground-hover: #{fill(white)};
    --um-btn-foreground-active: #{fill(white)};

    @include focus-ring(accent(6));
  }

  @each $color in config.$enabled-color-variants {
    @include color-variant($color) {
      --um-btn-background: #{fill($color, 6)};
      --um-btn-background-hover: #{fill($color, 7)};
      --um-btn-background-active: #{fill($color, 6)};
      --um-btn-foreground: #{fill(white)};
      --um-btn-foreground-hover: #{fill(white)};
      --um-btn-foreground-active: #{fill(white)};

      @include focus-ring(fill($color, 6));
    }
  }
}

@mixin outline {
  --um-btn-background: transparent;
  --um-btn-background-hover: #{fill(cnt, 1)};
  --um-btn-background-active: transparent;
  --um-btn-border-color: #{fill(cnt, 9)};
  --um-btn-border-color-hover: #{fill(cnt, 7)};
  --um-btn-foreground: #{fill(cnt, 9)};
  --um-btn-foreground-hover: #{fill(cnt, 7)};
  --um-btn-foreground-active: #{fill(cnt, 9)};
  --um-shadow: #{shadow(none)};

  border-width: var(--um-btn-border-width, 2px);

  @include dark-mode {
    --um-btn-background-hover: #{fill(cnt, 2)};
    --um-btn-background-active: #{fill(cnt, 1)};
  }

  // Color variants
  @include color-variant(accent) {
    --um-btn-background-hover: #{accent(0)};
    --um-btn-background-active: transparent;
    --um-btn-border-color: #{accent(6)};
    --um-btn-border-color-hover: #{accent(9)};
    --um-btn-foreground: #{accent(6)};
    --um-btn-foreground-hover: #{accent(9)};
    --um-btn-foreground-active: #{accent(6)};

    @include focus-ring(accent(6));

    @include dark-mode {
      --um-btn-background-hover: #{accent(8, $alpha: 0.2)};
      --um-btn-background-active: transparent;
      --um-btn-border-color: #{accent(5)};
      --um-btn-border-color-hover: #{accent(4)};
      --um-btn-foreground: #{accent(5)};
      --um-btn-foreground-hover: #{accent(4)};
      --um-btn-foreground-active: #{accent(5)};

      @include focus-ring(accent(5));
    }
  }

  @each $color in config.$enabled-color-variants {
    @include color-variant($color) {
      --um-btn-background-hover: #{fill($color, 0)};
      --um-btn-background-active: transparent;
      --um-btn-border-color: #{fill($color, 6)};
      --um-btn-border-color-hover: #{fill($color, 8)};
      --um-btn-foreground: #{fill($color, 6)};
      --um-btn-foreground-hover: #{fill($color, 8)};
      --um-btn-foreground-active: #{fill($color, 6)};

      @include focus-ring(fill($color, 6));

      @include dark-mode {
        --um-btn-background-hover: #{fill($color, 8, $alpha: 0.2)};
        --um-btn-background-active: transparent;
        --um-btn-border-color: #{fill($color, 5)};
        --um-btn-border-color-hover: #{fill($color, 4)};
        --um-btn-foreground: #{fill($color, 5)};
        --um-btn-foreground-hover: #{fill($color, 4)};
        --um-btn-foreground-active: #{fill($color, 5)};

        @include focus-ring(fill($color, 5));
      }
    }
  }
}

@mixin faded {
  --um-btn-background: #{fill(cnt, 1)};
  --um-btn-background-hover: #{fill(cnt, 2)};
  --um-btn-background-active: #{fill(cnt, 1)};
  --um-btn-border-color: transparent;
  --um-btn-border-color-hover: transparent;
  --um-btn-foreground: #{fill(cnt, 8)};
  --um-btn-foreground-hover: #{fill(cnt, 9)};
  --um-btn-foreground-active: #{fill(cnt, 8)};
  --um-shadow: #{shadow(none)};

  border-width: var(--um-btn-border-width, 2px);

  @include dark-mode {
    --um-btn-background: #{fill(cnt, 2)};
    --um-btn-background-hover: #{fill(cnt, 3, $alpha: 0.5)};
    --um-btn-background-active: #{fill(cnt, 2, $alpha: 0.5)};
  }

  // Color variants
  @include color-variant(accent) {
    --um-btn-background: #{accent(1)};
    --um-btn-background-hover: #{accent(2)};
    --um-btn-background-active: #{accent(1)};
    --um-btn-foreground: #{accent(8)};
    --um-btn-foreground-hover: #{accent(9)};
    --um-btn-foreground-active: #{accent(8)};

    @include focus-ring(accent(6));

    @include dark-mode {
      --um-btn-background: #{accent(8, $alpha: 0.2)};
      --um-btn-background-hover: #{accent(7, $alpha: 0.2)};
      --um-btn-background-active: #{accent(8, $alpha: 0.2)};
      --um-btn-foreground: #{accent(5)};
      --um-btn-foreground-hover: #{accent(4)};
      --um-btn-foreground-active: #{accent(5)};
    }
  }

  @each $color in config.$enabled-color-variants {
    @include color-variant($color) {
      --um-btn-background: #{fill($color, 1)};
      --um-btn-background-hover: #{fill($color, 2)};
      --um-btn-background-active: #{fill($color, 1)};
      --um-btn-foreground: #{fill($color, 8)};
      --um-btn-foreground-hover: #{fill($color, 9)};
      --um-btn-foreground-active: #{fill($color, 8)};

      @include focus-ring(fill($color, 6));

      @include dark-mode {
        --um-btn-background: #{fill($color, 8, $alpha: 0.2)};
        --um-btn-background-hover: #{fill($color, 7, $alpha: 0.2)};
        --um-btn-background-active: #{fill($color, 8, $alpha: 0.2)};
        --um-btn-foreground: #{fill($color, 5)};
        --um-btn-foreground-hover: #{fill($color, 4)};
        --um-btn-foreground-active: #{fill($color, 5)};
      }
    }
  }
}

@mixin ghost {
  --um-btn-background: transparent;
  --um-btn-background-hover: #{fill(cnt, 1)};
  --um-btn-background-active: #{fill(cnt, 1, $alpha: 0.5)};
  --um-btn-border-color: transparent;
  --um-btn-border-color-hover: transparent;
  --um-btn-foreground: #{fill(cnt, 8)};
  --um-btn-foreground-hover: #{fill(cnt, 9)};
  --um-btn-foreground-active: #{fill(cnt, 8)};
  --um-shadow: #{shadow(none)};

  border-width: var(--um-btn-border-width, 2px);

  @include dark-mode {
    --um-btn-background-hover: #{fill(cnt, 2, $alpha: 0.75)};
    --um-btn-background-active: #{fill(cnt, 2, $alpha: 0.5)};
  }

  // Color variants
  @include color-variant(accent) {
    --um-btn-background-hover: #{accent(1)};
    --um-btn-background-active: #{accent(1, $alpha: 0.5)};
    --um-btn-foreground: #{accent(7)};
    --um-btn-foreground-hover: #{accent(8)};
    --um-btn-foreground-active: #{accent(7)};

    @include focus-ring(accent(6));

    @include dark-mode {
      --um-btn-background-hover: #{accent(8, $alpha: 0.2)};
      --um-btn-background-active: #{accent(9, $alpha: 0.2)};
      --um-btn-foreground: #{accent(5)};
      --um-btn-foreground-hover: #{accent(4)};
      --um-btn-foreground-active: #{accent(5)};
    }
  }

  @each $color in config.$enabled-color-variants {
    @include color-variant($color) {
      --um-btn-background-hover: #{fill($color, 1)};
      --um-btn-background-active: #{fill($color, 1, $alpha: 0.5)};
      --um-btn-foreground: #{fill($color, 7)};
      --um-btn-foreground-hover: #{fill($color, 8)};
      --um-btn-foreground-active: #{fill($color, 7)};

      @include focus-ring(fill($color, 6));

      @include dark-mode {
        --um-btn-background-hover: #{fill($color, 8, $alpha: 0.2)};
        --um-btn-background-active: #{fill($color, 9, $alpha: 0.2)};
        --um-btn-foreground: #{fill($color, 5)};
        --um-btn-foreground-hover: #{fill($color, 4)};
        --um-btn-foreground-active: #{fill($color, 5)};
      }
    }
  }
}

@mixin link {
  --um-btn-background: transparent;
  --um-btn-background-hover: transparent;
  --um-btn-background-active: transparent;
  --um-btn-border-color: transparent;
  --um-btn-border-color-hover: transparent;
  --um-btn-foreground: #{fill(cnt, 8)};
  --um-btn-foreground-hover: #{fill(cnt, 9)};
  --um-btn-foreground-active: #{fill(cnt, 8)};
  --um-shadow: #{shadow(none)};

  border-width: var(--um-btn-border-width, 2px);

  @include hover {
    text-decoration: underline;
  }

  // Color variants
  @include color-variant(accent) {
    --um-btn-foreground: #{accent(7)};
    --um-btn-foreground-hover: #{accent(8)};
    --um-btn-foreground-active: #{accent(7)};

    @include focus-ring(accent(6));

    @include dark-mode {
      --um-btn-foreground: #{accent(5)};
      --um-btn-foreground-hover: #{accent(4)};
      --um-btn-foreground-active: #{accent(5)};
    }
  }

  @each $color in config.$enabled-color-variants {
    @include color-variant($color) {
      --um-btn-foreground: #{fill($color, 7)};
      --um-btn-foreground-hover: #{fill($color, 8)};
      --um-btn-foreground-active: #{fill($color, 7)};

      @include focus-ring(fill($color, 6));

      @include dark-mode {
        --um-btn-foreground: #{fill($color, 5)};
        --um-btn-foreground-hover: #{fill($color, 4)};
        --um-btn-foreground-active: #{fill($color, 5)};
      }
    }
  }
}

// ---- Modifiers ----

@mixin circle {
  border-radius: radius(full);
  height: var(--um-btn-height, $height);
  padding: 0;
  width: var(--um-btn-height, $height);

  @include color-variant(compact) {
    height: var(--um-btn-height-compact, $height-compact);
    width: var(--um-btn-height-compact, $height-compact);
  }
}

@mixin square {
  border-radius: var(--um-btn-border-radius, $border-radius);
  height: var(--um-btn-height, $height);
  padding: 0;
  width: var(--um-btn-height, $height);

  @include color-variant(compact) {
    height: var(--um-btn-height-compact, $height-compact);
    width: var(--um-btn-height-compact, $height-compact);
  }
}

// Makes the button wider (more horizontal padding)
@mixin wide {
  padding: 0 var(--um-btn-padding-x-wide, $padding-x-wide);
}

// Makes the button full width
@mixin block {
  justify-content: center;
  width: 100%;
}

@mixin compact {
  font-size: var(--um-btn-font-size-compact, font(sm));
  height: var(--um-btn-height-compact, $height-compact);
  line-height: var(--um-btn-leading-compact, text-leading(sm));
  padding: 0 var(--um-btn-padding-x-compact, $padding-x-compact);
}

@mixin icon {
  flex-shrink: 0;
  height: size(20);
  width: size(20);

  &--compact {
    height: size(16);
    width: size(16);
  }
}

@mixin group {
  display: inline-flex;
  position: relative;

  #{$class} {
    @include focus-ring(accent(6));

    flex: 1 0 auto;
    margin: 0;

    @include focus {
      z-index: 10;
    }

    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: -1px;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      margin-left: -1px;
    }
  }

  &--block {
    display: flex;

    #{$class} {
      flex: 1 0;
    }
  }
}

// --------------------------------
//   Styles
// --------------------------------

@mixin styles {
  button,
  [type='button'],
  [type='submit'],
  [type='reset'],
  [type='file'] {
    @include reset;
  }

  #{$class} {
    @include default;

    &--solid {
      @include solid;
    }

    &--outline {
      @include outline;
    }

    &--faded {
      @include faded;
    }

    &--ghost {
      @include ghost;
    }

    &--link {
      @include link;
    }

    &--wide {
      @include wide;
    }

    &--block {
      @include block;
    }

    &--compact {
      @include compact;
    }

    &--circle {
      @include circle;
    }

    &--square {
      @include square;
    }
  }

  // Button Icon
  #{$class}-icon {
    @include icon;
  }

  // Button Group
  #{$class}-group {
    @include group;
  }
}
