// --------------------------------
//   Card Component
// --------------------------------

@use '../config';
@use '../api' as *;

// --------------------------------
//   Vars
// --------------------------------

$class: '.card';
$ignored-selectors: 'img, h2, h3, h4, h5, h6, #{$class}__section, #{$class}__header, #{$class}__footer, #{$class}__text';

// Defaults
$aspect-ratio: '3/2';

$spacing-x: fluid-spacing(14);
$spacing-y: fluid-spacing(16);

$font-size: font-size(sm);
$text-leading: text-leaidng(sm);

$border-color: fill(brd, 1);
$border-radius: radius(config.default(radius));

$body-background: fill(srf, 1);
$body-foreground: fill(txt, 2);

// --------------------------------
//   Mixins
// --------------------------------

@mixin card {
  @include box(
    $background: var(--um-card-body-background, $body-background),
    $foreground: var(--um-card-body-foreground, $body-foreground),
    $rounded: $border-radius,
    $shadow: md
  );
  border-color: var(--um-card-border-color, $border-color);
  border-width: var(--um-card-border-width, 0);
  display: flex;
  flex-direction: column;
  gap: var(--um-card-gap, $spacing-y);

  &__section,
  &__header,
  &__footer {
    display: flex;
    font-size: var(--um-card-font-size, $font-size);
    line-height: var(--um-card-leading, $text-leading);
    position: relative;

    &--border {
      border-color: var(--um-card-inner-border-color, $border-color);
      border-top-width: var(--um-card-inner-border-width, 1px);
      padding-left: var(--um-card-spacing-x, $spacing-x);
      padding-right: var(--um-card-spacing-x, $spacing-x);
      padding-top: var(--um-card-spacing-y, $spacing-y);
    }
  }

  &__header,
  &__footer {
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    color: var(--um-card-body-foreground, $body-foreground);
  }

  & > *:last-of-type:not(#{$ignored-selectors}) {
    margin-bottom: var(--um-card-spacing-y, $spacing-y);
  }

  & > img {
    aspect-ratio: var(--um-img-aspect-ratio, 3/2);
    object-fit: cover;
    width: 100%;

    &:first-child {
      border-radius: $border-radius $border-radius 0 0;
    }

    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
      margin-top: auto;
    }
  }

  & > *:not(img, #{$class}__section--border) {
    margin-left: var(--um-card-spacing-x, $spacing-x);
    margin-right: var(--um-card-spacing-x, $spacing-x);
  }

  & > *:not(img):first-child {
    margin-top: var(--um-card-spacing-y, $spacing-y);
  }

  & > a {
    align-self: start;
  }
}

// --------------------------------
//   Styles
// --------------------------------

@mixin styles {
  #{$class} {
    @include card;
  }
}
