// --------------------------------
//   indicator Components
// --------------------------------

@use '../config';
@use '../api' as *;

// --------------------------------
//   Vars
// --------------------------------

$class: '.indicator';

// --------------------------------
//   Mixins
// --------------------------------

@mixin default {
  @include transition((color, background-color, border-color, transform), duration(fast));

  display: inline-flex;
  position: relative;
  width: max-content;

  &__item {
    @include position-variants($class);
    position: absolute;
    z-index: 1;
  }
}

// --------------------------------
//   Styles
// --------------------------------

@mixin styles {
  #{$class} {
    @include default;
  }
}
