// --------------------------------
//   Range Slider Component
// --------------------------------

@use 'sass:math';
@use 'sass:selector';

@use '../config';
@use '../api' as *;

// Defaults
$thumb-size: 22px;
$accent-shade: config.default(color-shade);

// --------------------------------
//   Vars
// --------------------------------

$class: '.range-slider';

// --------------------------------
//   Mixins
// --------------------------------

@mixin vars {
  --koi-track-height: calc(var(--koi-thumb-size) / 2.5);
  --koi-track-radius: #{radius(xl)};

  --koi-thumb-size: #{$thumb-size};
  --koi-thumb-color: #{accent($accent-shade)};
  --koi-thumb-color-hover: #{accent($accent-shade - 2)};
  --koi-thumb-color-focus: #{accent($accent-shade - 2)};
  --koi-thumb-radius: #{radius(full)};
  --koi-thumb-shadow: 0 0 0 99px var(--koi-thumb-color) inset, #{shadow()};
  --koi-thumb-shadow-hover: 0 0 0 99px var(--koi-thumb-color-hover) inset, #{shadow()};
  --koi-thumb-shadow-focus: 0 0 0 99px var(--koi-thumb-color-focus) inset, #{shadow()},
    #{ring($width: var(--koi-track-height), $offset: 0px, $color: accent($accent-shade, $alpha: 0.2))};
}

@mixin reset {
  appearance: none;
  background: transparent;
  cursor: grab;
  outline: none;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb,
  &::-moz-range-thumb {
    appearance: none;
    border-style: none;
  }

  &::-webkit-slider-thumb {
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin track {
  background-color: var(--koi-track-color, fill(cnt, 9, $alpha: 0.1));
  border-radius: var(--koi-track-radius);
  height: var(--koi-track-height);
  width: 100%;
}

@mixin thumb {
  @include transition((background-color border-color box-shadow));

  background-color: var(--koi-thumb-color);
  border-radius: var(--koi-thumb-radius);
  box-shadow: var(--koi-thumb-shadow);
  height: var(--koi-thumb-size);
  position: relative;
  width: var(--koi-thumb-size);
}

@mixin input-range {
  @include vars;

  &::-webkit-slider-runnable-track {
    @include track;
  }

  &::-moz-range-track {
    @include track;
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &:hover::-webkit-slider-thumb {
    box-shadow: var(--koi-thumb-shadow-hover, var(--koi-thumb-shadow));
  }

  &:focus::-webkit-slider-thumb {
    box-shadow: var(--koi-thumb-shadow-focus, var(--koi-thumb-shadow));
  }

  &:hover::-moz-range-thumb {
    box-shadow: var(--koi-thumb-shadow-hover, var(--koi-thumb-shadow));
  }

  &:focus::-moz-range-thumb {
    box-shadow: var(--koi-thumb-shadow-focus, var(--koi-thumb-shadow));
  }
}

// --------------------------------
//   Styles
// --------------------------------

@mixin styles {
  input[type='range'] {
    @include reset;
  }

  #{$class} {
    @include input-range;
  }
}
