// --------------------------------
//   Range Slider Component
// --------------------------------

@use 'sass:math';
@use 'sass:selector';

@use '../config';
@use '../api' as *;

// --------------------------------
//   Vars
// --------------------------------

$accent-shade: config.default(color-shade);

$thumb-size: 22px;
$thumb-radius: radius(full);
$thumb-shadow: shadow();

// --------------------------------
//   Mixins
// --------------------------------

@mixin reset {
  appearance: none;
  background: transparent;
  cursor: grab;
  outline: none;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb,
  &::-moz-range-thumb {
    appearance: none;
    border-style: none;
  }

  &::-webkit-slider-thumb {
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin track {
  background: var(--um-track-color, fill(cnt, 9, $alpha: 0.1));
  border-radius: var(--um-track-radius, radius(xl));
  height: var(--um-track-height, calc($thumb-size / 2.5));
  width: 100%;
}

@mixin thumb {
  $thumb-color: var(--um-thumb-color, accent($accent-shade));
  $shadow: 0 0 0 99px $thumb-color inset, $thumb-shadow;

  @include transition((background-color border-color box-shadow));
  background-color: $thumb-color;
  border-radius: var(--um-thumb-radius, $thumb-radius);
  box-shadow: var(--um-thumb-shadow, $shadow);
  height: var(--um-thumb-size, $thumb-size);
  position: relative;
  width: var(--um-thumb-size, $thumb-size);
}

@mixin input-range {
  $thumb-color-hover: var(--um-thumb-color-hover, accent($accent-shade - 2));
  $thumb-color-focus: var(--um-thumb-color-focus, accent($accent-shade - 2));
  $focus-ring: var(
    --um-thumb-focus-ring,
    ring(
      $width: calc($thumb-size / 3.25),
      $offset: 0px,
      $color: accent($accent-shade, $alpha: 0.25),
    )
  );

  $box-shadow-hover: 0 0 0 99px $thumb-color-hover inset, $thumb-shadow;
  $box-shadow-focus: 0 0 0 99px $thumb-color-focus inset, $thumb-shadow, $focus-ring;

  &::-webkit-slider-runnable-track {
    @include track;
  }

  &::-moz-range-track {
    @include track;
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &:hover::-webkit-slider-thumb {
    box-shadow: var(--um-thumb-shadow-hover, $box-shadow-hover);
  }

  &:focus::-webkit-slider-thumb {
    box-shadow: var(--um-thumb-shadow-focus, $box-shadow-focus);
  }

  &:hover::-moz-range-thumb {
    box-shadow: var(--um-thumb-shadow-hover, $box-shadow-hover);
  }

  &:focus::-moz-range-thumb {
    box-shadow: var(--um-thumb-shadow-focus, $box-shadow-focus);
  }
}

// --------------------------------
//   Styles
// --------------------------------

@mixin styles {
  input[type='range'] {
    @include reset;
    @include input-range;
  }
}
