// --------------------------------
//   Tabs Component
// --------------------------------

@use '../config';
@use '../api' as *;

// --------------------------------
//   Vars
// --------------------------------

$class: '.tabs';

// Defaults
$border-width: 2px;

// --------------------------------
//   Mixins
// --------------------------------

@mixin tab-with-border {
  border-bottom-style: solid;
  border-bottom-width: var(--koi-tabs-border-width, $border-width);
  margin-bottom: -1px;

  &:hover:not(#{$class}__item--active) {
    border-bottom-color: var(--koi-tabs-border-bottom-color, fill(brd, 2));
  }

  &#{$class}__item--active {
    border-bottom-color: var(--koi-tabs-border-active-color, accent(5));

    &:hover {
      border-bottom-color: var(--koi-tabs-border-active-hover-color, accent(6));

      @include dark-mode {
        border-bottom-color: var(--koi-tabs-border-active-hover-dark-color, accent(4));
      }
    }
  }
}

@mixin tab-with-box {
  border-radius: var(--koi-tabs-box-radius, radius());
  padding: 0.5rem 1rem;

  &#{$class}__item--active {
    background-color: accent(1);
    color: accent(7);

    &:hover {
      color: accent(8);
    }

    @include dark-mode {
      background-color: accent(8, $alpha: 0.25, $lightness: -20%);
      color: accent(5);

      &:hover {
        color: accent(4);
      }
    }
  }
}

@mixin tabs {
  @include spacer($spacer: 2rem);

  &__item {
    @include transition;
    align-items: center;
    border: transparent;
    color: fill(txt, 2);
    cursor: pointer;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: font(sm);
    font-weight: font(medium);
    justify-content: center;
    padding-bottom: var(--koi-tabs-padding-y, 1rem);
    padding-left: var(--koi-tabs-padding-x, 0.25rem);
    padding-right: var(--koi-tabs-padding-x, 0.25rem);
    padding-top: var(--koi-tabs-padding-y, 1rem);
    position: relative;
    text-align: center;
    user-select: none;

    &:hover:not(&--active) {
      color: fill(txt, 0);
    }

    &--active {
      color: accent(5);

      &:hover {
        color: accent(6);

        @include dark-mode {
          color: accent(4);
        }
      }
    }

    &--bordered {
      @include tab-with-border;
    }

    &--boxed {
      @include tab-with-box;
    }
  }
}

@mixin bordered {
  border-bottom-width: 1px;
}

// Makes the tabs full width
@mixin block {
  width: 100%;

  #{$class}__item {
    flex: 1;
    margin-left: 0;
    margin-right: 0;
  }
}

// --------------------------------
//   Styles
// --------------------------------

@mixin styles {
  #{$class} {
    @include tabs;

    &--bordered {
      @include bordered;
    }

    &--block {
      @include block;
    }
  }
}
