// --------------------------------
//    Theme Colors
// --------------------------------

@use 'sass:map';

@use '../../tokens' as *;
@use '../../helpers' as *;

// ---- Semantic Colors ----

$base: (
  white: map.get($colors, white),
  black: map.get($colors, black),
  grey: map.get($colors, grey),
);

$semantic: (
  success: map.get($colors, green),
  info: map.get($colors, blue),
  warning: map.get($colors, yellow),
  danger: map.get($colors, red),
);

$brand: (
  primary: map.get($colors, emerald),
  secondary: map.get($colors, violet),
  neutral: map.get($colors, neutral),
);

$extended: (
  red: map.get($colors, red),
  yellow: map.get($colors, yellow),
  green: map.get($colors, green),
  blue: map.get($colors, blue),
);

// ---- Colors Schemes ----

$schemes: (
  light: (
    contrast: (
      0: map.get($colors, neutral, 1),
      1: map.get($colors, neutral, 2),
      2: map.get($colors, neutral, 3),
      3: map.get($colors, neutral, 4),
      4: map.get($colors, neutral, 5),
      5: map.get($colors, neutral, 6),
      6: map.get($colors, neutral, 7),
      7: map.get($colors, neutral, 8),
      8: map.get($colors, neutral, 9),
      9: map.get($colors, black),
    ),
    surface: (
      1: map.get($colors, neutral, 0),
      2: map.get($colors, white),
      3: map.get($colors, neutral, 1),
      4: map.get($colors, neutral, 2),
    ),
    border: (
      1: map.get($colors, neutral, 2),
      2: map.get($colors, neutral, 3),
    ),
    text: (
      1: map.get($colors, neutral, 9),
      2: map.get($colors, neutral, 6),
      3: map.get($colors, neutral, 4),
      4: map.get($colors, neutral, 3),
    ),
  ),
  dark: (
    contrast: (
      0: map.get($colors, black),
      1: map.get($colors, neutral, 9),
      2: map.get($colors, neutral, 8),
      3: map.get($colors, neutral, 7),
      4: map.get($colors, neutral, 6),
      5: map.get($colors, neutral, 5),
      6: map.get($colors, neutral, 4),
      7: map.get($colors, neutral, 3),
      8: map.get($colors, neutral, 2),
      9: map.get($colors, neutral, 1),
    ),
    surface: (
      1: map.get($colors, neutral, 9),
      2: map.get($colors, neutral, 8),
      3: map.get($colors, neutral, 7),
      4: map.get($colors, neutral, 6),
    ),
    border: (
      1: map.get($colors, neutral, 8),
      2: map.get($colors, neutral, 7),
    ),
    text: (
      1: map.get($colors, neutral, 0),
      2: map.get($colors, neutral, 3),
      3: map.get($colors, neutral, 5),
      4: map.get($colors, neutral, 6),
    ),
  ),
);
