// --------------------------------
//    Theme Colors
// --------------------------------

@use 'sass:map';

@use '../../tokens' as *;
@use '../../helpers' as *;

// ---- Semantic Colors ----

$base: (
  white: map.get($colors, white),
  black: map.get($colors, black),
  grey: map.get($colors, grey),
);

$semantic: (
  success: map.get($colors, green),
  info: map.get($colors, blue),
  warning: map.get($colors, yellow),
  danger: map.get($colors, red),
);

$brand: (
  primary: map.get($colors, emerald),
  secondary: map.get($colors, violet),
  neutral: map.get($colors, neutral),
);

$extended: (
  red: map.get($colors, red),
  yellow: map.get($colors, yellow),
  green: map.get($colors, green),
  blue: map.get($colors, blue),
);

// ---- Colors Schemes ----

// Set the grey tone from the token colors:
// slate, grey, zinc, neutral or stone.
$grey-tone: stone;

// Default Scheme colors:
// cnt (contrast), srf (surface), brd (border) and txt (text).
$schemes: (
  light: (
    cnt: (
      0: map.get($colors, $grey-tone, 1),
      1: map.get($colors, $grey-tone, 2),
      2: map.get($colors, $grey-tone, 3),
      3: map.get($colors, $grey-tone, 4),
      4: map.get($colors, $grey-tone, 5),
      5: map.get($colors, $grey-tone, 6),
      6: map.get($colors, $grey-tone, 7),
      7: map.get($colors, $grey-tone, 8),
      8: map.get($colors, $grey-tone, 9),
      9: map.get($colors, black),
    ),
    srf: (
      1: map.get($colors, $grey-tone, 0),
      2: map.get($colors, white),
      3: map.get($colors, $grey-tone, 1),
      4: map.get($colors, $grey-tone, 2),
    ),
    brd: (
      1: map.get($colors, $grey-tone, 2),
      2: map.get($colors, $grey-tone, 3),
    ),
    txt: (
      1: map.get($colors, $grey-tone, 9),
      2: map.get($colors, $grey-tone, 6),
      3: map.get($colors, $grey-tone, 4),
      4: map.get($colors, $grey-tone, 3),
    ),
  ),
  dark: (
    cnt: (
      0: map.get($colors, black),
      1: map.get($colors, $grey-tone, 9),
      2: map.get($colors, $grey-tone, 8),
      3: map.get($colors, $grey-tone, 7),
      4: map.get($colors, $grey-tone, 6),
      5: map.get($colors, $grey-tone, 5),
      6: map.get($colors, $grey-tone, 4),
      7: map.get($colors, $grey-tone, 3),
      8: map.get($colors, $grey-tone, 2),
      9: map.get($colors, $grey-tone, 1),
    ),
    srf: (
      1: map.get($colors, $grey-tone, 9),
      2: map.get($colors, $grey-tone, 8),
      3: map.get($colors, $grey-tone, 7),
      4: map.get($colors, $grey-tone, 6),
    ),
    brd: (
      1: map.get($colors, $grey-tone, 8),
      2: map.get($colors, $grey-tone, 7),
    ),
    txt: (
      1: map.get($colors, $grey-tone, 0),
      2: map.get($colors, $grey-tone, 3),
      3: map.get($colors, $grey-tone, 5),
      4: map.get($colors, $grey-tone, 6),
    ),
  ),
);
