// --------------------------------
//    Theme Typography
// --------------------------------

@use 'sass:map';

@use '../../tokens';
@use '../typography';

$font-family: map.merge(
  (
    base: typography.$base-font-family,
    headings: typography.$headings-font-family,
  ),
  tokens.$font-family
);
