// --------------------------------
//   Animation Styles
// --------------------------------

@use '../core' as *;

$css-custom-property: --animation;

// --------------------------------
//   Styles
// --------------------------------

@mixin styles {
  :where(html) {
    @include generate-keyframes;
  }
}

// --------------------------------
//   CSS Custom Properties
// --------------------------------

// TODO: generate the property using  helper so we can add prefix, etc
@mixin vars {
  :where(html) {
    --animation-blink: blink 1s infinite;
    --animation-bounce: bounce 1s infinite;
  }
}
