// --------------------------------
//   Base Styles
// --------------------------------

@use '../config' as *;
@use '../core' as *;
@use '../theme' as *;
@use '../reset';

@if config(use-reset-styles) {
  @include reset.styles();
}

html {
  @include theming-vars(light);
}

html[data-theme='dark'] {
  @include theming-vars(dark);
}

::selection {
  background: var(--color-accent-5);
  color: var(--text-1);
}

body {
  background-color: var(--surface-4);
  font-family: font(sans);
  font-size: font(md);
  font-weight: font(normal);
}
