// --------------------------------
//   Base Styles
// --------------------------------

@use '../config' as *;
@use '../core' as *;
@use '../theme' as *;
@use 'reset';

// Reset
@if config(use-reset-styles) {
  @include reset.styles();
}

// Theming
@if config(use-theming) {
  @include theming-vars;
}

::selection {
  background: var(--color-accent-5);
  color: var(--text-1);
}

body {
  font-family: font(sans);
  font-size: font(md);
  font-weight: font(normal);
}
