@use '../core' as *;
@use '../core/helpers/internal' as *;

@mixin styles {
  ::selection {
    background: accent(5);
    color: css-var(text-1);
  }

  sub,
  sup {
    font-size: 0.75em;
    position: relative;
  }

  sub {
    bottom: -0.25em;
    left: 0.25em;
  }

  sup {
    left: 0.25em;
    top: -0.5em;
  }

  pre,
  code {
    font-family: font(mono);
  }

  // Forms
  [type='date'],
  [type='datetime'],
  [type='datetime-local'],
  [type='email'],
  [type='month'],
  [type='number'],
  [type='password'],
  [type='search'],
  [type='tel'],
  [type='text'],
  [type='time'],
  [type='url'],
  [type='week'],
  textarea,
  select {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.5em 0.75em;
  }

  [type='checkbox'],
  [type='radio'] {
    height: 1em;
    width: 1em;

    &:checked {
      background-color: currentColor;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-color: transparent;
    }
  }

  [type='checkbox'] {
    &:checked {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    }
  }

  [type='radio'] {
    border-radius: 9999px;

    &:checked {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='white'/%3e%3c/svg%3e");
    }
  }

  select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-position: right 0.75em center;
    background-repeat: no-repeat;
    background-size: 16px 12px;
  }
}
