// --------------------------------
//   Link Styles
// --------------------------------

@use '../api' as *;

// --------------------------------
//   Mixins
// --------------------------------

@mixin base {
  background: var(--um-link-background, transparent);
  border-bottom: var(--um-link-border, 1px solid accent(5));
  color: var(--um-link-foreground, fill(txt, 1));
  font-weight: var(--um-link-font-weight, font(medium));
  text-decoration: none;
  transition: all 50ms linear;

  &:hover {
    border-bottom-width: 2px;
  }
}

// @mixin external {
//   &::after {
//     content: '↗️';
//   }
// }

// --------------------------------
//   Styles
// --------------------------------

@mixin styles {
  .link,
  .prose a {
    @include base;
  }

  // .link--external {
  //   @include external;
  // }
}
