// --------------------------------
//   Animation
// --------------------------------

@use '../../config' as *;
@use 'theme' as *;

// --------------------------------
//   Values
// --------------------------------

$-default-duration: theme(duration, config(fallbacks, duration));
$-default-timing-function: theme(timing, config(fallbacks, timing));

// --------------------------------
//   Mixins
// --------------------------------

@mixin animation(
  $name,
  $duration: $-default-duration,
  $timing-function: $-default-timing-function,
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: none,
  $play-state: null
) {
  @include media.prefers-reduced-motion(null) {
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $timing-function;
    animation-delay: $delay;
    animation-iteration-count: $iteration-count;
    animation-direction: $direction;
    animation-fill-mode: $fill-mode;
    @if $play-state {
      animation-play-state: $play-state;
    }
  }
}
