// -------------------------------------
//   Duration (Animation & Transition)
// -------------------------------------

@use 'config' as *;
@use 'theme' as *;

$-default-duration: config(fallbacks, duration);

// --------------------------------
//   Functions
// --------------------------------

@function duration($duration: $-default-duration) {
  @return theme(duration, $duration);
}

// --------------------------------
//   Mixins
// --------------------------------

@mixin animation-duration($duration: $-default-duration) {
  animation-duration: duration($duration);
}

@mixin transition-duration($duration: $-default-duration) {
  transition-duration: duration($duration);
}
