// --------------------------------
//   Media Queries / Breakpoints
// --------------------------------

@use 'sass:map';
@use 'sass:list';

@use '../helpers' as *;
@use 'theme' as *;

// --------------------------------
//   FUNCTIONS
// --------------------------------

/// Return a breakpoint value from the theme
///
/// @param {string} $screen
///
/// @return {number|null} `$breakpoint-in-pixel` or null.
///
@function bp($screen) {
  @return map.get(theme(screens), $screen);
}

// Alias to bp function
@function screen($screen) {
  @return bp($screen);
}

// Minimum breakpoint width
@function min-bp($key) {
  $min: bp($key);

  @return if($min != 0, $min, null);
}

// Maximum breakpoint width
@function max-bp($key) {
  $max: bp($key);

  @return if($max and $max > 0, $max - 0.02, null);
}

// --------------------------------
//   MIXINS
// --------------------------------

@mixin query($query, $type: screen) {
  @media #{$type} and #{$query} {
    @content;
  }
}

/// Apply content from a specific breakpoint forward
/// This query is mobile first (from min-width).
///
/// @param {string} $breakpoint
///
/// @content - a min-width media query
///
@mixin mq($breakpoint, $type: screen) {
  @include mq-from($breakpoint, $type) {
    @content;
  }
}

/// Apply content from a specific breakpoint forward
///
/// @param {string} $breakpoint
///
/// @content - a min-width media query
///
@mixin mq-from($breakpoint, $type: screen) {
  $breakpoint: if(bp($breakpoint), bp($breakpoint), $breakpoint);
  @media #{$type} and (min-width: $breakpoint) {
    @content;
  }
}

/// Apply content until a specific breakpoint is reached
///
/// @param {string} $breakpoint
///
/// @content - a max-width media query
///
@mixin mq-to($breakpoint, $type: screen) {
  $breakpoint: if(bp($breakpoint), bp($breakpoint), $breakpoint);
  @media #{$type} and (max-width: $breakpoint) {
    @content;
  }
}

/// Apply content between breakpoints
///
/// @param {string} $from - screen breakpoint from
/// @param {string} $to  - screen breakpoint to
///
/// @content - a min-width and max-width media query
///
@mixin mq-between($from, $to, $type: screen) {
  $from: if(bp($from), bp($from), $from);
  $to: if(bp($to), bp($to), $to);

  @media #{$type} and (min-width: $from) and (max-width: $to) {
    @content;
  }
}

/// Apply content within the length of a specific breakpoint
///
/// @param {string} $breakpoint
///
/// @content - a min-width and/or max-width media query
///
@mixin mq-at($breakpoint, $type: screen) {
  $keys: map.keys(theme(screens));
  $length: list.length(theme(screens));
  $index: list.index($keys, $breakpoint);

  @if $length > $index {
    $next-breakpoint: list.nth($keys, ($index + 1));

    @include mq-between($breakpoint, $next-breakpoint, $type) {
      @content;
    }
  } @else {
    @include mq-from($breakpoint, $type) {
      @content;
    }
  }
}

@mixin mq-not($query, $type: screen) {
  @media not #{$type} and #{$query} {
    @content;
  }
}

@mixin mq-orientation($value: landscape, $type: screen) {
  @media #{$type} and (orientation: $value) {
    @content;
  }
}

@mixin mq-resolution($value, $type: screen) {
  @media #{$type} and (resolution: $value) {
    @content;
  }
}

@mixin mq-min-resolution($value, $type: screen) {
  @media #{$type} and (min-resolution: $value) {
    @content;
  }
}

@mixin mq-max-resolution($value, $type: screen) {
  @media #{$type} and (max-resolution: $value) {
    @content;
  }
}

@mixin mq-aspect-ratio($value, $type: screen) {
  @media #{$type} and (aspect-ratio: $value) {
    @content;
  }
}

@mixin mq-min-aspect-ratio($value, $type: screen) {
  @media #{$type} and (min-aspect-ratio: $value) {
    @content;
  }
}

@mixin mq-max-aspect-ratio($value, $type: screen) {
  @media #{$type} and (max-aspect-ratio: $value) {
    @content;
  }
}

@mixin preferes-color-scheme($color-scheme: light) {
  @media (prefers-color-scheme: $color-scheme) {
    @content;
  }
}

@mixin prefers-reduced-motion($bool: true) {
  $query: '(prefers-reduced-motion: reduce)';

  @if $bool {
    @include query($query) {
      @content;
    }
  } @else {
    @include mq-not($query) {
      @content;
    }
  }
}

@mixin prefers-high-contrast($bool: true) {
  $query: '(prefers-contrast: high)';

  @if $bool {
    @include query($query) {
      @content;
    }
  } @else {
    @include mq-not($query) {
      @content;
    }
  }
}

@mixin prefers-low-contrast($bool: true) {
  $query: '(prefers-contrast: low)';

  @if $bool {
    @include query($query) {
      @content;
    }
  } @else {
    @include mq-not($query) {
      @content;
    }
  }
}

@mixin prefers-reduced-transparency($bool: true) {
  $query: '(prefers-reduced-transparency: reduce)';

  @if $bool {
    @include query($query) {
      @content;
    }
  } @else {
    @include mq-not($query) {
      @content;
    }
  }
}
