// --------------------------------
//   Core API functions and mixins
// --------------------------------

@use 'sass:map';
@use 'sass:list';
@use 'sass:meta';
@use 'sass:selector';

@use '../helpers' as *;
@use '../../theme' as *;
@use 'config' as *;

// --------------------------------
//   Functions
// --------------------------------

// Get a value from the theme
@function theme($keys...) {
  $property: list.nth($keys, 1);
  $fallback: config(fallbacks, $property);
  @return map-get-key($theme, $fallback, $keys...);
}

@function theme-has-key($keys...) {
  @return map.has-key($theme, $keys...);
}

@function is-theme-color($keys...) {
  $colors: map.get($theme, colors);
  $value: map.get($colors, $keys...);

  @return map.has-key($colors, $keys...) and (meta.type-of($value) == color);
}

// --------------------------------
//   Mixins
// --------------------------------

// Matches data-theme="light" or data-theme="auto"
@mixin light() {
  @media (prefers-color-scheme: light) {
    @at-root #{selector.nest(':root:not([data-theme=light]):not([data-theme=dark])', &)} {
      @content;
    }
  }
  @at-root #{selector.nest(':root[data-theme=light]', &)} {
    @content;
  }
}

// Matches data-theme="dark" or data-theme="auto"
@mixin dark() {
  @media (prefers-color-scheme: dark) {
    @at-root #{selector.nest(':root:not([data-theme=light]):not([data-theme=dark])', &)} {
      @content;
    }
  }
  @at-root #{selector.nest(':root[data-theme=dark]', &)} {
    @content;
  }
}
