// ------------------------------------
//   Timing (Animation & Transition)
// ------------------------------------

@use '../../config' as *;
@use 'theme' as *;

$-default-timing: config(fallbacks, timing);

// --------------------------------
//   Functions
// --------------------------------

@function timing($timing: $-default-timing) {
  @return theme(timing, $timing);
}

// --------------------------------
//   Mixins
// --------------------------------

@mixin animation-timing($timing: $-default-timing) {
  animation-timing: timing($timing);
}

@mixin transition-timing($timing: $-default-timing) {
  transition-timing: timing($timing);
}
