// --------------------------------
//   Colors
// --------------------------------

$colors: (
  white: #fff,
  black: #000,
  gray: (
    0: #fafafa,
    1: #f5f5f5,
    2: #e6e6e6,
    3: #d4d4d4,
    4: #a3a3a3,
    5: #737373,
    6: #525252,
    7: #404040,
    8: #262626,
    9: #171717,
  ),
  red: (
    0: #fef1f1,
    1: #fee1e1,
    2: #fec8c8,
    3: #fca6a6,
    4: #f87272,
    5: #ef4343,
    6: #dc2828,
    7: #ba1c1c,
    8: #981b1b,
    9: #811d1d,
  ),
  yellow: (
    0: #fefce7,
    1: #fef9c3,
    2: #fef08b,
    3: #fddf49,
    4: #facc14,
    5: #fbe8b0,
    6: #c88a04,
    7: #a26107,
    8: #864e0e,
    9: #733f12,
  ),
  green: (
    0: #f3fcf5,
    1: #defce9,
    2: #bbf7d0,
    3: #85efac,
    4: #4ade80,
    5: #21c45d,
    6: #16a249,
    7: #157f3c,
    8: #166434,
    9: #14522d,
  ),
  blue: (
    0: #f0f6ff,
    1: #dcebfe,
    2: #bedbfe,
    3: #91c3fd,
    4: #61a6fa,
    5: #3c83f6,
    6: #2463eb,
    7: #1d4fd7,
    8: #1e3fae,
    9: #1e3b8a,
  ),
) !default;

$gradients: (
  1: linear-gradient(to right, #43cea2, #185a9d),
  2: linear-gradient(225deg, #fe047c 10%, #ffae02 100%),
  3: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%),
  4: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%),
  5: linear-gradient(132deg, #f4d03f 0%, #16a085 100%),
  6: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%),
  7: linear-gradient(to bottom right, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b),
  8: linear-gradient(135deg, #f0ff00 10%, #58cffb 100%),
  9: linear-gradient(135deg, #ffd3a5 10%, #fd6585 100%),
  10: linear-gradient(45deg, #0093e9 0%, #80d0c7 100%),
  11: linear-gradient(to right, #89216b, #da4453),
  12: linear-gradient(to right, #8e2de2, #4a00e0),
  13: linear-gradient(to bottom right, #00f5a0, #00d9f5),
  14: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%),
  15: linear-gradient(90deg, #fad961 0%, #f76b1c 100%),
) !default;
