// ----------------------------------
//   Keyframes
// ----------------------------------

$keyframes: (
  blink: (
    (0%, 100%):
      (
        opacity: 1,
      ),
    50%: (
      opacity: 0.5,
    ),
  ),
  bounce: (
    (0%, 100%):
      (
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1),
        transform: translateY(-25%),
      ),
    (50%):
      (
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1),
        transform: translateY(0),
      ),
  ),
  fade-in: (
    to: (
      opacity: 1,
    ),
  ),
  fade-out: (
    to: (
      opacity: 0,
    ),
  ),
  float: (
    50%: (
      transform: translateY(-25%),
    ),
  ),
  ping: (
    (75%, 100%):
      (
        opacity: 0,
        transform: scale(2),
      ),
  ),
  pulse: (
    (0%, 100%):
      (
        opacity: 1,
      ),
    50%: (
      opacity: 0.5,
    ),
  ),
  spin: (
    from: (
      transform: rotate(0deg),
    ),
    to: (
      transform: rotate(360deg),
    ),
  ),
  scale-up: (
    to: (
      transform: scale(1.25),
    ),
  ),
  scale-down: (
    to: (
      transform: scale(0.75),
    ),
  ),
  slide-out-up: (
    to: (
      transform: translateY(-100%),
    ),
  ),
  slide-out-down: (
    to: (
      transform: translateY(100%),
    ),
  ),
  slide-out-right: (
    to: (
      transform: translateX(100%),
    ),
  ),
  slide-out-left: (
    to: (
      transform: translateX(-100%),
    ),
  ),
  slide-in-up: (
    from: (
      transform: translateY(100%),
    ),
  ),
  slide-in-down: (
    from: (
      transform: translateY(-100%),
    ),
  ),
  slide-in-right: (
    from: (
      transform: translateX(-100%),
    ),
  ),
  slide-in-left: (
    from: (
      transform: translateX(100%),
    ),
  ),
  shake-x: (
    (0%, 100%):
      (
        transform: translateX(0%),
      ),
    20%: (
      transform: translateX(-5%),
    ),
    40%: (
      transform: translateX(5%),
    ),
    60%: (
      transform: translateX(-5%),
    ),
    80%: (
      transform: translateX(5%),
    ),
  ),
  shake-y: (
    (0%, 100%):
      (
        transform: translateY(0%),
      ),
    20%: (
      transform: translateY(-5%),
    ),
    40%: (
      transform: translateY(5%),
    ),
    60%: (
      transform: translateY(-5%),
    ),
    80%: (
      transform: translateY(5%),
    ),
  ),
) !default;
